﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.HocHamHocVi>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Học hàm học vị</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <select class="form-control " name="HocHamHocViId" id="HocHamHocViId" >
            <option value="" selected="selected">--Chọn học hàm học vị--</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.TenHocHamHocVi</option>
            }
        </select>
    </div>
</div>