﻿<div class="modal fade" id="AddNhanVienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddNhanVien" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Tên nhân viên <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" data-required="true" id="txtAddTenNhanVien" name="TenNhanVien" class="form-control col-md-7 col-xs-12">
                            <input type="hidden" id="txtEditNhanVienId" name="TenNhanVien" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Email
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="email" id="txtAddEmailNhanVien" name="Email" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Số điện thoại
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" id="txtAddSDTNhanVien" name="SoDienthoai" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Địa chỉ
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" id="txtAddDiaChiNhanVien" name="DiaChi" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    @await Component.InvokeAsync("ListChucVu")
                    @await Component.InvokeAsync("ListHocHamHocVi")
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnAddNhanVien" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>