﻿@{ List<RCCD_WebApp.Areas.Admin.Models.ChucVu> chucVu = (List<RCCD_WebApp.Areas.Admin.Models.ChucVu>)ViewBag.ChucVu;}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/NhanVien/Index.js"></script>
    <script>
        var NhanVienController = new nhanVienController();
        NhanVienController.initialize();
    </script>
}
<style>
    ul li {
        list-style: none;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý nhân viên</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách nhân viên</h2>
                    <div class="clearfix"></div>
                </div>
                <ul class="navbar-nav">
                    <li>
                        <button type="button" id="btnCallModalAddNhanVien" class="btn btn-primary" data-toggle="modal">
                            <i class="fa fa-plus"></i> Thêm nhân viên
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav" style="float:right; margin-right: 8px;">
                    <li>
                        <div class="row">
                            <div class="col-sm-12" style="float:right;">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddlShowPage">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        bản ghi/trang.
                                    </span>
                                    Tổng số nhân viên: <strong id="lblTotalRecords"></strong>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="x_content">
                    <table id="" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                <th>Tên nhân viên</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Chức vụ</th>
                                <th width="15%">Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-NhanVien"></tbody>
                    </table>
                    <!--Pagination-->

                    <div class="row">
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script id="table-template-NhanVien" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenNhanVien}}</td>
                <td>{{Email}}</td>
                <td>{{SDT}}</td>
                <td>{{ChucVu}}</td>
                <td>
                    <a href="#" data-id="{{Id}}" class="btn  btn-xs btn-primary btn-grant"><i class="fa fa-eye-slash"></i></a>
                    <a href="#" id="btnEditNhanVien" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" id="btnDelNhanVien" data-content="{{TenNhanVien}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                </td>

            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/NhanVien/_ModalNhanVienPartialView.cshtml">
