﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.KhoaHoc>
<select class="form-control" name="KhoaHocId" id="KhoaHocId">
    <option value="" selected="selected">--Chọn khóa học--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenLop - @item.TenKhoa</option>
    }
</select>
