﻿<select class="form-control" id="NgayTrongTuanId">
    <option value=0>Chọn thứ</option>
    <option value=1>Thứ 2</option>
    <option value=2>Thứ 3</option>
    <option value=3>Thứ 4</option>
    <option value=4>Thứ 5</option>
    <option value=5>Thứ 6</option>
    <option value=6>Thứ 7</option>
    <option value=7>Chủ nhật</option>
</select>