﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/Ca/Index.js"></script>
    <script>
        var CaController = new caController();
        CaController.initialize();
    </script>
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý ca</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm ca</h2>
                    <div class="clearfix"></div>
                </div>
                <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tên ca</label>
                            <input type="text" class="form-control" id="txtTenCa">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thứ</label>
                            <partial name="~/Areas/Admin/Views/Ca/_ThuPartialView.cshtml"/>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giờ bắt đầu</label>
                            <input type="time" class="form-control" id="txtGioBatDau">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giờ kết thúc</label>
                            <input type="time" class="form-control" id="txtGioKetThuc">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ghi chú</label>
                            <input type="text" class="form-control" id="txtGhiChu">
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </form>
                <div class="x_title" style="padding-top:10px !important;">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                        <button type="button" class="btn btn-primary" id="btnAddCa">
                            <i class="fa fa-plus"></i> Thêm ca
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_title">
                    <h2>Danh sách ca</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="10%">Số thứ tự</th>
                                <th>Tên ca</th>
                                <th>Giờ bắt đầu</th>
                                <th>Giờ kết thúc</th>
                                <th>Ngày trong tuần</th>
                                <th>Ghi chú</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-Ca"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-Ca" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenCa}}</td>
                <td>{{GioBatDau}}</td>
                <td>{{GioKetThuc}}</td>
                <td>{{NgayTrongTuan}}</td>
                <td>{{GhiChu}}</td>
                <td>
                    <a href="#" id="btnDelCa" data-id="{{Id}}" data-content="{{TenCa}}" class="btn  btn-xs btn-danger btn-default"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </script>
    </div>
</div>
<!-- Modal add
<partial name="~/Areas/Admin/Views/Ca/_ModalAddCaPartialView.cshtml"> -->
