﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/ChuongTrinhHoc/Index.js"></script>
    <script>
        var ChuongTrinhHocController = new chuongTrinhHocController();
        ChuongTrinhHocController.initialize();
    </script>
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý chương trình học</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách chương trình học</h2>
                    <div class="clearfix"></div>
                </div>
                <button type="button" class="btn btn-primary" id="btnCallModalAddChuongTrinhHoc">
                    <i class="fa fa-plus"></i> Thêm chương trình học
                </button>
                <div class="x_content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Chương trình học</th>
                                <th>Loại chương trình học</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-ChuongTrinhHoc"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-ChuongTrinhHoc" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenChuongTrinhHoc}}</td>
                <td>{{TenLoaiChuongTrinhHoc}}</td>
                <td>
                    <a href="#" id="btnEditChuongTrinhHoc" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" id="btnDetailChuongTrinhHoc" data-id="{{Id}}" class="btn  btn-xs btn-success btn-default"><i class="fa fa-eye-slash"></i></a>
                    @* <a href="#" id="btnDelChuongTrinhHoc" data-content="{{TenChuongTrinhHoc}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>*@
                </td>
            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/ChuongTrinhHoc/_ModalAddChuongTrinhHocPartialView.cshtml">
