﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RCCD | Đăng nhập</title>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/AdminSide/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/AdminSide/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/AdminSide/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/AdminSide/build/css/custom.min.css" rel="stylesheet">
    <!-- Notify -->
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Đăng nhập</h1>
                        <div>
                            <input type="text" name="Username" class="form-control" placeholder="Email" id="txtUserName" required="" />
                        </div>
                        <div>
                            <input type="password" name="Password" class="form-control" placeholder="Mật khẩu" id="txtPassword" required="" />
                        </div>
                        <div>
                            <button id="btnLogin" class="btn btn-primary">Đăng nhập</button>
                            <a class="reset_pass" href="#">Quên mật khẩu?</a>
                        </div>


                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Resource Center for Community Development</h1>
                                <p>©2019 người phát triển Võ Chí Hiếu - DH16PM - DPM154136</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
<!-- Jquery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Notify -->
<script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
<script src="~/lib/notifyjs/dist/notify.js"></script>
<script src="~/App/Controller/Account/Login.js"></script>
<!-- Common -->
<script src="~/App/Share/common.js"></script>
<script src="~/js/jquery.session.js"></script>
<script>
    var login = new loginController();
    login.initialize();
</script>