﻿
@{
    ViewData["Title"] = "LoginClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mt-lg-0, .my-lg-0 {
        margin-top: 75px !important;
        /* margin: 0px; */
    }
</style>
<!-- banner -->
<div class="banner_w3lspvt-2">
   
</div>
<!-- //banner -->
<!-- contact -->
<div class="contact py-5" id="contact">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/ClientSide/images/b2.png" alt="image" class="img-fluid" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <!-- contact form grid -->
                <div class="contact-top1">
                    <form action="#" method="post" class="contact-wthree-do">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Tên đăng nhập
                                    </label>
                                    <input class="form-control" type="text" name="name" id="txtUserName" required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Mật khẩu
                                    </label>
                                    <input class="form-control" type="password" id="txtPassword" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="button" id="btnLogin" class="btn btn-cont-w3 btn-block mt-4">Đăng nhập</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- //contact form grid ends here -->
            </div>
        </div>
    </div>
</div>
<!-- //contact-->
