﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.LoaiGiangDay>
<select class="form-control LoaiGiangDayId" name="LoaiGiangDayId" id="LoaiGiangDayId">
    <option value=0 selected="selected">--Chọn loại giảng dạy--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenLoaiGiangDay</option>
    }
</select>
