﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.LoaiChuongTrinhHoc>
<select class="form-control LoaiChuongTrinhHocId" name="LoaiChuongTrinhHocId" id="LoaiChuongTrinhHocId">
    <option value="" selected="selected">--Chọn loại chương trình học--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenLoaiChuongTrinhHoc</option>
    }
</select>
