﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.NhanVien>
<select class="form-control" name="NhanVienId" id="NhanVienId">
    <option value=0 selected="selected">--Chọn người phụ trách--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.HoVaTen</option>
    }
</select>
