﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.DonVi>
<select class="form-control" name="DonViId" id="DonViId">
    <option value="" selected="selected">--Chọn đơn vị--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenDonVi</option>
    }
</select>
