﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.ChucVu>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Chức vụ</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <select class="form-control " name="ChucViId" id="ChucVuId">
            <option value="" selected="selected">--Chọn chức vụ--</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.TenChucVu</option>
            }
        </select>
    </div>
</div>