﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/CapDo/Index.js"></script>
    <script>
        var CapDoController = new capDoController();
        CapDoController.initialize();
    </script>
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý cấp độ</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách cấp độ</h2>
                    <div class="clearfix"></div>
                </div>
                <button type="button" class="btn btn-primary" id="btnCallModalAddCapDo">
                    <i class="fa fa-plus"></i> Thêm cấp độ
                </button>
                <div class="x_content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên cấp độ</th>
                                <th>Thứ tự cấp độ</th>
                                <th>Chương trình</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-CapDo"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-CapDo" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenCapDo}}</td>
                <td>{{SoThuTu}}</td>
                <td>{{TenChuongTrinhHoc}}</td>
                <td>
                    <a href="#" id="btnEditCapDo" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" id="btnDetailCapDo" data-id="{{Id}}" class="btn  btn-xs btn-success btn-default"><i class="fa fa-eye-slash"></i></a>
                    @* <a href="#" id="btnDelCapDo" data-content="{{TenCapDo}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>*@
                </td>
            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/CapDo/_ModalAddCapDoPartialView.cshtml">
