﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.LoaiGiangDay>
@foreach (var item in Model)
{
    <div class="form-check">
        <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value="@item.Id" name="ChuyenMonGiangVienId">
        <label class="form-check-label" for="defaultCheck1">
            @item.TenLoaiGiangDay
        </label>
    </div>
}

