﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .x_title span {
        color: #BDBDBD;
        float: right;
    }
</style>
<div class="">
    <!-- top tiles -->
    <div class="row tile_count">
        @*<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Tổng học viên đang học</span>
            <div class="count">2500</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-book"></i> Tổng khóa học đang thực hiện</span>
            <div class="count">123.50</div>
        </div>*@
        @*<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
                <div class="count">7,325</div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>*@
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Khóa học hôm nay</h3>
                    </div>
                    <div class="col-md-6" style="float:right">
                        <span>
                            @DateTime.Now.ToString("dd/MM/yyyy")
                        </span>
                        @{

                            var thuNumber = Convert.ToInt32(DateTime.Now.DayOfWeek);
                            string thuString = "";
                            if (thuNumber == 1)
                            {
                                thuString = "Thứ 2";
                            }
                            else if (thuNumber == 2)
                            {
                                thuString = "Thứ 3";
                            }
                            else if (thuNumber == 3)
                            {
                                thuString = "Thứ 4";
                            }
                            else if (thuNumber == 4)
                            {
                                thuString = "Thứ 5";
                            }
                            else if (thuNumber == 5)
                            {
                                thuString = "Thứ 6";
                            }
                            else if (thuNumber == 6)
                            {
                                thuString = "Thứ 7";
                            }
                            else if (thuNumber == 7)
                            {
                                thuString = "CN";
                            }
                            else
                            {
                                thuString = "Lỗi";
                            }
                            <span>@thuString, </span>
                           

                        }
                    </div>
                </div>
                @await Component.InvokeAsync("ListKhoaHocByDay", new { id = thuNumber })
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Các ngày nghỉ lễ trong tháng @DateTime.Now.Month</h3>
                    </div>
                    <div class="col-md-6" style="float:right">
                        
                    </div>
                </div>
                @await Component.InvokeAsync("ListKhoaHocByDay", new { id = DateTime.Now.Day })
                <div class="clearfix"></div>
            </div>
        </div>
    </div>*@
</div>
