﻿<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Trung tâm Tạo nguồn Nhân lực Phát triển Cộng đồng</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Marketing Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/ClientSide/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/ClientSide/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/ClientSide/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
          rel="stylesheet">
    <!-- //Web-Fonts -->
    <!-- Custom Theme Style -->
    <!-- notify -->
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <style>
        .pt-5, .py-5 {
            padding-top: 0px !important;
        }
        .pt-xl-5, .py-xl-5 {
            padding-top: 1rem !important;
        }
    </style>
</head>

<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="index.html"><img src="~/ClientSide/images/Logo.JPG" alt="" class="img-fluid" style="width:50px;"> RCCD</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="index.html" class="active">Trang chủ</a></li>
                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toogle-2">
                                        Chương trình học <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Chương trình học <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                   @await Component.InvokeAsync("ListLoaiChuongTrinhHocInHome")
                                </li>
                                <li><a href="contact.html">Contact Us</a></li>


                            </ul>
                            @*<ul class="menu">

                                    <li><a href="index.html" class="active">Đăng nhập</a></li>
                                    <li><a href="about.html">Đăng xuất</a></li>
                                    <li><a href="about.html">Đăng ký</a></li>
                                </ul>*@
                        </nav>
                    </div>
                    <!-- //nav -->
                    <div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
                        <!-- search -->
                        <nav>


                            <ul class="menu">
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <li>
                                        <div class="dropdown">
                                            <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span></span> <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/account.html">Account</a></li>
                                                <li><a href="/wishlist.html">Wishlist</a></li>
                                                <li><a href="/orders-list.html">Order Tracking</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                }
                                else
                                {
                                    <li><a title="login" href="@Url.Action("LoginClient","Account")"><span>Đăng nhập</span></a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- //header -->

    </div>

    @RenderBody()

    @*<footer class="bg-li py-5">
            <div class="container py-xl-5 py-lg-3">
                <!-- subscribe -->
                <div class="subscribe mx-auto">
                    <div class="icon-effect-w3">
                        <span class="fa fa-envelope"></span>
                    </div>
                    <h2 class="tittle text-center font-weight-bold">Stay Updated!</h2>
                    <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    </p>
                    <form action="#" method="post" class="subscribe-wthree pt-2">
                        <div class="d-flex subscribe-wthree-field">
                            <input class="form-control" type="email" placeholder="Enter your email..." name="email" required="">
                            <button class="btn form-control w-50" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
                <!-- //subscribe -->
            </div>
        </footer>*@
    <!-- //footer -->
    <!-- copyright bottom -->
    <div class="copy-bottom bg-li py-4 border-top">
        <div class="container-fluid">
            <div class="d-md-flex px-md-3 position-relative text-center">
                <!-- footer social icons -->
                <div class="social-icons-footer mb-md-0 mb-3">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer social icons -->
                <!-- copyright -->
                @*<div class="copy_right mx-md-auto mb-md-0 mb-3">
                    <p class="text-bl let">
                        Trung tâm Tạo nguồn Nhân lực Phát triển Cộng đồng

                    </p>
                    <p class="text-bl let">
                        TRƯỜNG ĐẠI HỌC AN GIANG

                    </p>
                </div>*@

                <!-- //copyright -->
                <!-- move top icon -->
                <a href="#home" class="move-top text-center">
                    <span class="fa fa-level-up" aria-hidden="true"></span>
                </a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
    <!-- //copyright bottom -->
    <script src="~/AdminSide/vendors/jquery/dist/jquery.min.js"></script>


    <!-- notify -->
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <!-- Jquery validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/App/Share/common.js"></script>
    <!-- bootbox -->
    <script src="~/lib/bootbox/src/bootbox.js"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/App/Controller/Home/Index.js"></script>
    <script src="~/App/Controller/Account/Login.js"></script>
</body>
</html>
<script>
    var HomeController = new homeController();
    HomeController.initialize();

    var login = new loginController();
    login.initialize();
</script>