﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/HocHamHocVi/Index.js"></script>
    <script>
        var HocHamHocViController = new hocHamHocViController();
        HocHamHocViController.initialize();
    </script>
}
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý học hàm học vị</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách học hàm học vị</h2>
                    <div class="clearfix"></div>
                </div>
                <button type="button" class="btn btn-primary" id="btnCallModalAddHocHamHocVi">
                    <i class="fa fa-plus"></i>Thêm học hàm học vị
                </button>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên học hàm học vị</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-HocHamHocVi"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-HocHamHocVi" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenHocHamHocVi}}</td>
                <td>
                    <a href="#" id="btnEditHocHamHocVi" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" id="btnDelHocHamHocVi" data-content="{{TenHocHamHocVi}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/HocHamHocVi/_ModalAddHocHamHocViPartialView.cshtml">
