﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.GiangVien>
<select class="form-control GiangVienId" name="GiangVienId" id="GiangVienId">
    <option value="">--Chọn giảng viên--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.HoVaTen</option>
    }
</select>
