﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.QuocTich>
<select class="form-control" name="QuocTichId" id="QuocTichId">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenQuocTich</option>
    }
</select>
