﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.CapDo>
<select class="form-control" name="CapDoId" id="CapDoId">
    <option value="" selected="selected">--Chọn loại cấp độ--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenCapDo</option>
    }
</select>
