﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.KhachHang>
<select class="form-control HocVienChuaCoTaiKhoanId" name="HocVienChuaCoTaiKhoanId" id="HocVienChuaCoTaiKhoanId">
    <option value=0 selected="selected">--Chọn học viên--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.HoVaTen</option>
    }
</select>
