﻿<div class="modal fade" id="ModalNgayNghiAddChildrenPartialView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm ngày nghỉ năm </h5><h4></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" asp-controller="Phong" method="post" id="frmEditPhong" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                            Bắt đầu ngày/tháng <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <select id="txtNgayBatDauNghi" class="form-control">
                                <option>--Chọn ngày bắt đầu--</option>
                                @{
                                    for (int i = 1; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            @*<input type="number" id="txtNgayBatDauNghi" class="form-control col-md-7 col-xs-12">*@
                            <input type="hidden" data-val="true" id="txtNamId" class="form-control col-md-7 col-xs-12">
                            <input type="hidden" data-val="true" id="txtNamInModelAdd" class="form-control col-md-7 col-xs-12">
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <select id="txtThangBatDauNghi" class="form-control">
                                <option>--Chọn tháng bắt đầu--</option>
                                @{
                                    for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            @*<input type="number" id="txtThangBatDauNghi" class="form-control col-md-7 col-xs-12">*@
                        </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                            đến hết ngày/tháng <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <select id="txtNgayKetThucNghi" class="form-control">
                                <option>--Chọn ngày kết thúc--</option>
                                @{
                                    for (int i = 1; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            @* <input type="text" id="txtNgayKetThucNghi" class="form-control col-md-7 col-xs-12">*@
                            @*<input type="text" id="txtThangKetThucNghi" class="form-control col-md-7 col-xs-12">*@
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <select id="txtThangKetThucNghi" class="form-control">
                                <option>--Chọn tháng kết thúc--</option>
                                @{
                                    for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Nội dung<span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" id="txtNoiDungNghi" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" id="btnSaveNgayNghiChildren" class="btn btn-primary">Lưu</button>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>
