﻿<div class="modal fade" id="ModalNgayNghiPartialView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm ngày nghỉ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        Nội dung <span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" data-required="true" id="txtNoiDung" class="form-control col-md-7 col-xs-12">
                        <input type="hidden" id="txtNgayNghiId" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        Ngày nghỉ <span class="required">*</span>
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <select class="form-control" id="txtNgayNghi">
                            <option value=0>--Ngày--</option>
                            @for (int i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <select class="form-control" id="txtThangNghi">
                            <option value=0>--Tháng--</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <select class="form-control" id="txtNamNghi">
                            <option value=0>--Năm--</option>
                            @{var yearNow = DateTime.Now.Year;}
                                @for (int i = yearNow; i <= yearNow+2; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        Ngày kết thúc
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <select class="form-control" id="txtNgayKetThuc">
                            <option value=0>--Ngày--</option>
                            @for (int i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <select class="form-control" id="txtThangKetThuc">
                            <option value=0>--Tháng--</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <select class="form-control" id="txtNamKetThuc">
                            <option value=0>--Năm--</option>
                           
                            @for (int i = yearNow; i <= yearNow + 2; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSaveNgayNghi" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
