﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.NgayNghi>
@{
    ViewData["Title"] = "GetChildren";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "NgayNghi")">Quản lý các ngày nhỉ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết ngày nghỉ</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @*@{ int nam=Model.FirstOrDefault().Nam;}*@
                    <h2>Danh ngày nghỉ của năm @ViewBag.Nam</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <input type="hidden" value="@ViewBag.Nam" id="txtNamInGetChildren" />
                    <a href="#" id="btnAddNgayNghiChildren" data-id="@ViewBag.NamId"  class="btn btn-primary">
                        <i class="fa fa-plus"></i>Thêm ngày nghỉ
                    </a>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Từ ngày</th>
                                <th scope="col">Đến này</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                                foreach (var item in Model)
                                {

                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@item.TuNgay.Day - @item.TuNgay.Month </td>
                                        @if (item.DenNgay != null)
                                        {
                                            <td>@item.DenNgay.Value.Day - @item.DenNgay.Value.Month </td>
                                        }

                                        <td>@item.NoiDung</td>
                                        <td>
                                            <a href="#" id="btnDelNgayNghiChildren" data-id="@item.Id" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>

                                    i++;
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/NgayNghi/_ModalNgayNghiAddChildrenPartialView.cshtml">

