﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/NgayNghi/Index.js"></script>
    <script>
        var NgayNghiController = new ngayNghiController();
        NgayNghiController.initialize();
    </script>
}
<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 2px;
        line-height: 24px;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .modal-dialog {
        width: 746px;
        margin: 30px auto;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý ngày nghỉ</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh ngày nghỉ</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <button type="button" id="btnCallFormAddNam" class="btn btn-primary" data-toggle="modal">
                        <i class="fa fa-plus"></i> Thêm ngày nghỉ
                    </button>
                    <hr />
                    <table id="" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                <th width="20%">Tên ngày nghỉ</th>
                                <th>Ngày nghỉ</th>
                                <th width="20%">Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-NgayNghi"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-NgayNghi" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{NoiDung}}</td>
                <td>{{NgayNghi}}</td>
                <td>
                    <a  id="btnEditNgayNghi" data-id="{{Id}}" class="btn  btn-xs btn-primary btn-grant"><i class="fa fa-edit"></i></a>
                    <a  id="btnDelNgayNghiChildren" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                </td>

            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/NgayNghi/_ModalNgayNghiPartialView.cshtml">
