﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.Phong>

<select class="form-control PhongId" name="PhongId" id="PhongId">
    <option value="" selected="selected">--Chọn phòng--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenPhong</option>
    }
</select>

