﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RCCD | Trang quản lý  </title>
    <!-- Bootstrap -->
    <link href="~/AdminSide/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/AdminSide/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/AdminSide/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/AdminSide/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="~/AdminSide/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminSide/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminSide/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminSide/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminSide/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/AdminSide/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/AdminSide/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/AdminSide/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/AdminSide/build/css/custom.min.css" rel="stylesheet">
    <!-- notify -->
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- CkEditor -->
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    @*<script src="~/lib/ckeditor/ckeditor.js"></script>*@
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"> <span>RCCD</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/AdminSide/images/img.jpg" alt="~/AdminSide." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("DangKyMoi","KhachHang")">Thêm học viên mới</a></li>
                                        <li><a href="@Url.Action("AddPhieuThu","KhachHang")">Đăng ký học</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","KhachHang")"><i class="fa fa-users"></i> Quản lý khách hàng </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","NhanVien")"><i class="fa fa-user"></i> Quản lý nhân viên </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","KhoaHoc")"><i class="fa fa-pencil-square-o"></i> Quản lý khóa học </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","GiangVien")"><i class="fa fa-user"></i> Quản lý giảng viên </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Phong")"><i class="fa fa-archive"></i> Quản lý cơ sở vật chất </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Quản lý khác <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","ChucVu")">Quản lý chức vụ</a></li>
                                        <li><a href="@Url.Action("Index","BoMon")">Quản lý bộ môn</a></li>
                                        <li><a href="@Url.Action("Index","DonVi")">Quản lý đơn vị</a></li>
                                        <li><a href="@Url.Action("Index","HocHamHocVi")">Quản lý học hàm học vị</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/AdminSide/images/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/AdminSide/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where~/AdminSide.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/AdminSide/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where~/AdminSide.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/AdminSide/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where~/AdminSide.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/AdminSide/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where~/AdminSide.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/AdminSide/vendors/jquery/dist/jquery.js"></script>
    <script src="~/AdminSide/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/js/simple.money.format.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminSide/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminSide/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/AdminSide/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/AdminSide/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/AdminSide/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/AdminSide/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/AdminSide/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/AdminSide/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/AdminSide/vendors/Flot/jquery.flot.js"></script>
    <script src="~/AdminSide/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/AdminSide/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/AdminSide/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/AdminSide/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/AdminSide/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/AdminSide/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/AdminSide/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/AdminSide/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/AdminSide/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/AdminSide/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/AdminSide/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/AdminSide/vendors/moment/min/moment.min.js"></script>
    <script src="~/AdminSide/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Datatables -->
    <script src="~/AdminSide/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/AdminSide/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/AdminSide/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/AdminSide/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/AdminSide/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/AdminSide/build/js/custom.min.js"></script>

    <!-- notify -->
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <!-- Jquery validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/App/Share/common.js"></script>
    <!-- bootbox -->
    <script src="~/lib/bootbox/src/bootbox.js"></script>

    <!-- GiangVienController -->
    <script src="~/App/Controller/GiangVien/Index.js"></script>
    <!-- BoMonController -->
    <script src="~/App/Controller/BoMon/Index.js"></script>
    <!-- ChucVuController -->
    <script src="~/App/Controller/ChucVu/Index.js"></script>
    <!-- DonViController -->
    <script src="~/App/Controller/DonVi/Index.js"></script>
    <!-- HocHamHocViController -->
    <script src="~/App/Controller/HocHamHocVi/Index.js"></script>
    <!-- PhongController -->
    <script src="~/App/Controller/Phong/Index.js"></script>
    <!-- NhanVienController -->
    <script src="~/App/Controller/NhanVien/Index.js"></script>
    <!-- KhoaHocController -->
    <script src="~/App/Controller/KhoaHoc/Index.js"></script>
    <!-- KhachHangController -->
    <script src="~/App/Controller/KhachHang/Index.js"></script>
</body>
</html>
<script>
    var GiangVienController = new giangVienController();
    GiangVienController.initialize();

    var BoMonController = new boMonController();
    BoMonController.initialize();

    var DonViController = new donViController();
    DonViController.initialize();

    var ChucVuController = new chucVuController();
    ChucVuController.initialize();

    var HocHamHocViController = new hocHamHocViController();
    HocHamHocViController.initialize();

    var PhongController = new phongController();
    PhongController.initialize();

    var NhanVienController = new nhanVienController();
    NhanVienController.initialize();

    var KhoaHocController = new khoaHocController();
    KhoaHocController.initialize();

    var KhachHangController = new khachHangController();
    KhachHangController.initialize();
</script>
