﻿@using RCCD_WebApp.Areas.Admin.Models
@model KhoaHoc
@{IEnumerable<ChiTietGiangDay> listChiTietGiangDay = (IEnumerable<ChiTietGiangDay>)ViewBag.ListChiTietGiangDay;}
@{IEnumerable<GiangVien> listGiangVien = (IEnumerable<GiangVien>)ViewBag.ListGiangVien;}
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pb-xl-5, .py-xl-5 {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }
</style>
<!-- why -->
<section class="why bg-li py-5" id="why">
    <div class="container py-xl-5 py-3">
        <div class="row">
            <div class="col-md-4">
                <div class="ser-grd">
                    <div class="row">
                        <div class="col-md-3 col-2 text-center services-icon icon-clr5">
                            <span class="fa fa-money"></span>
                        </div>
                        <div class="col-md-9 col-10 text-left services-grid">
                            <h4>Học phí</h4>
                            @if (Model.HocPhiKhoaHoc != null)
                            {
                                <p>@string.Format("{00:C}", Model.HocPhiKhoaHoc)</p>
                            }
                            <p>Miễn phí</p>
                        </div>
                    </div>
                </div>
                <div class="ser-grd mt-md-5 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-2 text-center services-icon icon-clr6">
                            <span class="fa fa-coffee"></span>
                        </div>
                        <div class="col-md-9 col-10 text-left services-grid">
                            <h4>Title Here</h4>
                            <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ser-grd mt-md-0 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-2 text-center services-icon icon-clr1">
                            <span class="fa fa-headphones"></span>
                        </div>
                        <div class="col-md-9 col-10 text-left services-grid">
                            <h4>Title Here</h4>
                            <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                        </div>
                    </div>
                </div>
                <div class="ser-grd mt-md-5 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-2 text-center services-icon icon-clr2">
                            <span class="fa fa fa-eye"></span>
                        </div>
                        <div class="col-md-9 col-10 text-left services-grid">
                            <h4>Title Here</h4>
                            <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ser-grd mt-md-0 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-2 text-center services-icon icon-clr3">
                            <span class="fa fa-folder-open"></span>
                        </div>
                        <div class="col-md-9 col-10 text-left services-grid">
                            <h4>Title Here</h4>
                            <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                        </div>
                    </div>
                </div>
                <div class="ser-grd mt-md-5 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-2 text-center services-icon icon-clr4">
                            <span class="fa fa-lightbulb-o"></span>
                        </div>
                        <div class="col-md-9 col-10 text-left services-grid">
                            <h4>Title Here</h4>
                            <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- about -->
<div class="about-inner py-5">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="row py-xl-4">
            <div class="col-lg-5 about-right-faq pr-5">
                <h6>Đăng ký học</h6>
                <h3 class="mt-2 mb-3">@Model.TenKhoa</h3>
                <h3 class="mt-2 mb-3">@Model.TenLop</h3>
                <p>Nhập họ tên và số điện thoại để đăng ký học</p>
                <p class="mt-2">
                    <form action="#" method="post" class="contact-wthree-do">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Họ và tên
                                    </label>
                                    <input class="form-control" id="txtKhoaHocId" hidden type="text" value="@Model.Id">
                                    <input class="form-control" id="txtHoVaTen" type="text" name="name" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Số điện thoại
                                    </label>
                                    <input class="form-control" id="txtSoDienThoai" type="text" name="mobile" required="">
                                </div>
                            </div>
                        </div>
                    </form>
                </p>
                <a href="about.html" class="btn button-style mt-sm-5 mt-4">Đăng ký</a>
            </div>
            <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                <img src="~/ClientSide/images/about.png" />
            </div>
        </div>
    </div>
</div>

<!-- //about -->
<section class="banner-bottom-w3layouts bg-li py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center font-weight-bold">Các khóa học đang tuyển sinh</h3>
        @await Component.InvokeAsync("FlagKhoaHoc")
    </div>
</section>