﻿
<div class="modal fade" id="AddGiangVienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddGiangVien" data-parsley-valitext class="form-horizontal form-label-left">
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>1-Thông tin cơ bản</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                            Họ và tên<span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="txtHoVaTen">
                                        <input type="hidden" class="form-control" id="txtEditGiangVienId">
                                        <input type="hidden" class="form-control" id="txtMaGiangVienDau">
                                        <input type="hidden" class="form-control" id="txtMaGiangVienCuoi">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                            Số điện thoại<span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="txtSoDienThoai">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Email</label>
                                        <input type="text" class="form-control" id="txtEmail">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Loại giảng viên</label>
                                        <select class="form-control" id="txtLoaiGiangVien">
                                            <option value=0>Cơ hữu</option>
                                            <option value=1 selected="selected">Hợp đồng</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đơn vị trực thuộc</label>
                                        @await Component.InvokeAsync("ListDonVi")
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>2-Thông tin chi tiết</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                            Ngày sinh
                                        </label>
                                        <input type="text" class="form-control" id="txtNgaySinh">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                            Nơi sinh
                                        </label>
                                        <input type="text" class="form-control" id="txtNoiSinh">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                            Địa chỉ
                                        </label>
                                        <input type="text" class="form-control" id="txtDiaChi">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Quốc tịch</label>
                                        @await Component.InvokeAsync("ListQuocTich")
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Chứng chỉ giảng dạy</label>
                                        <input type="text" class="form-control" id="txtChungChiGiangDay">
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đại học</label>
                                        <input type="text" class="form-control" id="txtDaiHoc">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Kinh nghiệm</label>
                                        <input type="number" class="form-control" id="txtKinhNghiem">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số giấy phép lao động</label>
                                        <input type="text" class="form-control" id="txtSoGiayPhepLaoDong">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hiệu lực GPLĐ</label>
                                        <input type="text" class="form-control" id="txtNgayHieuLucGPLD">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hết hạn GPLĐ</label>
                                        <input type="text" class="form-control" id="txtNgayHetHanGPLD">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đến Việt Nam từ ngày</label>
                                        <input type="text" class="form-control" id="txtDenVietNamTuNgay">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số hộ chiếu</label>
                                        <input type="text" class="form-control" id="txtSoHoChieu">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hết hạn hộ chiếu</label>
                                        <input type="text" class="form-control" id="txtNgayHetHanHoChieu">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Nơi cấp hộ chiếu</label>
                                        <input type="text" class="form-control" id="txtNoiCapHoChieu">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số visa</label>
                                        <input type="text" class="form-control" id="txtSoVisa">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày cấp visa</label>
                                        <input type="text" class="form-control" id="txtNgayCapVisa">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hết hạn visa</label>
                                        <input type="text" class="form-control" id="txtNgayHetHanVisa">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số ngân hàng</label>
                                        <input type="text" class="form-control" id="txtSoNganHang">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tiểu sử</label>
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <textarea id="txtEditTieuSu" class="txtEditTieuSu" name="txtTieuSu" cols="80" rows="10"></textarea>
                                    <script>

                                        CKEDITOR.replace('txtEditTieuSu');

                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnSaveChangeGiangVien" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>