﻿
<style>
    .form-horizontal .control-label {
        padding-top: 8px;
        text-align: left;
    }
</style>
<div class="modal fade" id="AddHopDongModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:870px !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm hợp đồng - Giảng viên: <span id="TenGiangVien" style="font-weight:bold;"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddHopDong" class="form-horizontal form-label-right input_mask">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Loại hợp đồng *
                            </label>
                            <input type="text" class="form-control" id="txtLoaiHopDong">
                            <input type="hidden" class="form-control" id="txtHopDongId" value=0>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Ngày tạo *
                            </label>
                            <input type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" readonly id="txtNgayTaoHopDong" class="form-control">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày bắt đầu *</label>
                            <input type="date" class="form-control" id="txtNgayBatDauHopDong">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày kết thúc *</label>
                            <input type="date" class="form-control" id="txtNgayKetThucHopDong">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Loại</label>
                            <select class="form-control" id="HinhThucHopDong">
                                <option value=0>Part-time</option>
                                <option value=1>Full-time</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ghi chú</label>
                            <textarea id="areaGhiChu" class="form-control"></textarea>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tệp đính kèm</label>
                            <input type="file" id="txtTepHopDong" />
                        </div>
                   

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnAddHopDong" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>