﻿@{
    ViewData["Title"] = "Thêm giảng viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- KhoaHocController -->
    <script src="~/App/Controller/GiangVien/Index.js"></script>

    <script>
        var GiangVienController = new giangVienController();
        GiangVienController.initialize();
    </script>

}
<style>
    .has-feedback .form-control {
        padding-right: 5px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index","GiangVien")">Quản lý giảng viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm giảng viên</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>1-Thông tin cơ bản</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Họ và tên *
                            </label>
                            <input type="text" class="form-control" id="txtHoVaTen">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Số điện thoại *
                            </label>
                            <input type="text" maxlength="10" class="form-control" id="txtSoDienThoai">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Email *
                            </label>
                            <input type="text" class="form-control" id="txtEmail">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Loại giảng viên</label>
                            <select class="form-control" id="txtLoaiGiangVien">
                                <option value=0>Full-time</option>
                                <option value=1 selected="selected">Part-time</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đơn vị trực thuộc</label>
                            @await Component.InvokeAsync("ListDonVi")
                        </div>
                       
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Chuyên môn giảng dạy</label>
                        @await Component.InvokeAsync("ListChuyenMonGiangVien")
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>2-Thông tin chi tiết</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Ngày sinh
                            </label>
                            <input type="text" class="form-control" id="txtNgaySinh">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Nơi sinh
                            </label>
                            <input type="text" class="form-control" id="txtNoiSinh">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                Địa chỉ
                            </label>
                            <input type="text" class="form-control" id="txtDiaChi">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Quốc tịch</label>
                            @await Component.InvokeAsync("ListQuocTich")
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Chứng chỉ giảng dạy</label>
                            <input type="text" class="form-control" id="txtChungChiGiangDay">
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đại học</label>
                            <input type="text" class="form-control" id="txtDaiHoc">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Kinh nghiệm</label>
                            <input type="number" class="form-control" id="txtKinhNghiem">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số giấy phép lao động</label>
                            <input type="text" class="form-control" id="txtSoGiayPhepLaoDong">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hiệu lực GPLĐ</label>
                            <input type="text" class="form-control" id="txtNgayHieuLucGPLD">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hết hạn GPLĐ</label>
                            <input type="text" class="form-control" id="txtNgayHetHanGPLD">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đến Việt Nam từ ngày</label>
                            <input type="text" class="form-control" id="txtDenVietNamTuNgay">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số hộ chiếu</label>
                            <input type="text" class="form-control" id="txtSoHoChieu">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hết hạn hộ chiếu</label>
                            <input type="text" class="form-control" id="txtNgayHetHanHoChieu">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Nơi cấp hộ chiếu</label>
                            <input type="text" class="form-control" id="txtNoiCapHoChieu">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số visa</label>
                            <input type="text" class="form-control" id="txtSoVisa">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày cấp visa</label>
                            <input type="text" class="form-control" id="txtNgayCapVisa">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Ngày hết hạn visa</label>
                            <input type="text" class="form-control" id="txtNgayHetHanVisa">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số ngân hàng</label>
                            <input type="text" class="form-control" id="txtSoNganHang">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tiểu sử</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <textarea id="txtTieuSu" class="txtTieuSu" name="txtTieuSu" cols="80" rows="10"></textarea>
                        <script>
                            CKEDITOR.replace('txtTieuSu');
                        </script>
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                <button id="btnAddGiangVien" class="btn btn-success"><i class="fa fa-flus"></i> Thêm giảng viên</button>
            </div>
        </div>
    </div>
</div>


