﻿@using RCCD_WebApp.Areas.Admin.Models
@model GiangVien
@{ IEnumerable<DonVi> ListDonVi = (IEnumerable<DonVi>)ViewBag.ListDonVi;}
@{ IEnumerable<ChiTietChuyenMonGiangVien> ListChuyenMon = (IEnumerable<ChiTietChuyenMonGiangVien>)ViewBag.ListChuyenMon;}
@{ IEnumerable<QuocTich> ListQuocTich = (IEnumerable<QuocTich>)ViewBag.ListQuocTich;}
@{ IEnumerable<LoaiGiangDay> ListLoaiGiangDay = (IEnumerable<LoaiGiangDay>)ViewBag.ListLoaiGiangDay;}

@{
    ViewData["Title"] = "Get";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-dialog {
        width: 1027px;
        margin: 30px auto;
    }
</style>
@section Scripts{
    <!-- ChiTietGiangDayController -->
    <script src="~/App/Controller/ChiTietLichTrong/Index.js"></script>
    <script>
        var ChiTietLichTrongController = new chiTietLichTrongController();
        ChiTietLichTrongController.initialize();
    </script>

    <!-- ChiTietGiangDayController -->
    <script src="~/App/Controller/GiangVien/Index.js"></script>
    <script>
        var GiangVienController = new giangVienController();
        GiangVienController.initialize();
    </script>

    <!-- HopDongController -->
    <script src="~/App/Controller/HopDong/Index.js"></script>
    <script>
        var HopDongController = new hopDongController();
        HopDongController.initialize();
    </script>

}
<!-- page content -->
<div class="">
    <div class="row">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index", "GiangVien")"> Quản lý giảng viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin giảng viên</li>
            </ol>
        </nav>
    </div>
    <hr />

    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông tin giảng viên <small> @Model.HoVaTen - @Model.MaGiangVienDau</small></h2>
                <input type="hidden" value=@Model.Id id="txtGiangVienId" />
                <input type="hidden" value=@Model.HoVaTen id="txtTenGiangVien" />
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Thông tin</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Hợp đồng</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Lịch dạy</a>

                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Lịch trống</a>

                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="x_title">
                                    <h2>1-Thông tin cơ bản</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- start recent activity -->
                                <div class="col-xs-6">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th style="width:50%">Mã giảng viên</th>
                                                    <td>@Model.MaGiangVienDau</td>
                                                </tr>
                                                <tr>
                                                    <th>Họ và tên</th>
                                                    <td>@Model.HoVaTen</td>
                                                </tr>
                                                <tr>
                                                    <th>Số điện thoại</th>
                                                    <td>@Model.SoDienThoai</td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td>@Model.Email</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Loại giảng viên</th>
                                                    <td>

                                                        @if (Model.LoaiGiangVien == 1)
                                                        {
                                                            <span class="badge badge-pill badge-primary">Cơ hữu</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-pill badge-danger">Hợp đồng</span>
                                                        }

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Đơn vị trực thuộc</th>
                                                    <td>
                                                        @foreach (var item in ListDonVi)
                                                        {
                                                            if (Model.DonViId == item.Id)
                                                            {
                                                                <span>@item.TenDonVi</span>
                                                                break;
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Chuyên môn giảng dạy
                                                        <br />
                                                    </th>
                                                    <td>
                                                        @foreach (var item in ListChuyenMon)
                                                        {
                                                            if (Model.Id == item.GiangVienId)
                                                            {
                                                                @foreach (var itemj in ListLoaiGiangDay)
                                                                {
                                                                    if (item.LoaiGiangDayId == itemj.Id)
                                                                    {
                                                                        <span class="badge badge-pill badge-info">@itemj.TenLoaiGiangDay</span>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        <a href="#" id="btnEditChuyenMonGiangDay" data-id=@Model.Id style="font-weight:normal">Sửa</a>

                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="x_title">
                                    <h2>2-Thông tin chi tiết</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- start recent activity -->
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:50%">Ngày sinh</th>
                                                        <td>@Model.NgaySinh</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Địa chỉ</th>
                                                        <td>@Model.DiaChi</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Chứng chỉ giảng dạy</th>
                                                        <td>@Model.ChungChiGiangDay</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Kinh nghiệm</th>
                                                        <td>@Model.KinhNghiem</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ngày hiệu lực GPLĐ</th>
                                                        <td>@Model.NgayHieuLucGPLD</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Nơi sinh</th>
                                                        <td>
                                                            @Model.NoiSinh
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Quốc tịch</th>
                                                        <td>
                                                            @foreach (var item in ListQuocTich)
                                                            {
                                                                if (Model.QuocTichId == item.Id)
                                                                {
                                                                    <span>@item.TenQuocTich</span>
                                                                    break;
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Đại học</th>
                                                        <td>
                                                            @Model.DaiHoc
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Số giấy phép lao động</th>
                                                        <td>
                                                            @Model.SoGiayPhepLaoDong
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ngày hết hạn GPLĐ</th>
                                                        <td>
                                                            @Model.NgayHetHanGPLD
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-xs-3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:50%">Ngày đến Việt Nam</th>
                                                        <td>@Model.NgayDenVietNam</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ngày hết hạn hộ chiếu</th>
                                                        <td>@Model.NgayHetHanHoChieu</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Số Visa</th>
                                                        <td>@Model.SoVisa</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ngày hết hạn Visa</th>
                                                        <td>@Model.NgayHetHanVisa</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Số hộ chiếu</th>
                                                        <td>
                                                            @Model.SoHoChieu
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Nơi cấp hộ chiếu</th>
                                                        <td>
                                                            @Model.NoiCapHoChieu
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ngày cấp Visa</th>
                                                        <td>
                                                            @Model.NgayCapVisa
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Số ngân hàng</th>
                                                        <td>
                                                            @Model.SoNganHang
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tiểu sử</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <textarea id="txtTieuSu" class="txtTieuSu" name="txtTieuSu" cols="80" rows="10"> @Model.TieuSu</textarea>
                                        <script>

                                            CKEDITOR.replace('txtTieuSu');

                                        </script>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center pt-3">
                                    <button id="btnEditGiangVien" class="btn btn-success">Sửa</button>
                                </div>
                                <!-- end recent activity -->
                            </div>
                        </div>
                        <!--Hợp đồng-->
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="row">
                                <button class="btn btn-primary" id="CallModalAddHopDong">Thêm hợp đồng</button>
                                <div class="x_title">
                                    <h2>Hợp đồng giảng viên</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Danh sách hợp đồng giảng viên</label>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%">STT</th>
                                                <th>Tên hợp đồng</th>
                                                <th>Ngày bắt đầu</th>
                                                <th>Ngày kết thúc</th>
                                                <th>Ngày tạo</th>
                                                <th>Giảng viên</th>
                                                <th>Nhân viên</th>
                                                <th>Hình thức hợp đồng</th>
                                                <th>Ghi chú</th>
                                                <th>Sửa</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-content-HopDongGiangVien"></tbody>
                                    </table>
                                    <script id="table-template-HopDongGiangVien" type="x-tmpl-mustache">
                                        <tr>
                                            <td>{{STT}}</td>
                                            <td>{{TenHopDong}}</td>
                                            <td>{{NgayBatDauHopDong}}</td>
                                            <td>{{NgayKetThucHopDong}}</td>
                                            <td>{{NgayTaoHopDong}}</td>
                                            <td>{{GiangVien}}</td>
                                            <td>{{NhanVien}}</td>
                                            <td>{{HinhThucHopDong}}</td>
                                            <td>{{GhiChu}}</td>
                                            <td>
                                                {{{Xoa}}}
                                            </td>

                                        </tr>
                                    </script>
                                </div>
                            </div>
                        </div>
                        
                        <!---------------------------------Lịch dạy----------------------------------------------------------------->
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Lịch dạy giảng viên</label>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%">STT</th>
                                                <th>Thứ</th>
                                                <th>Ca</th>
                                                <th>Giảng viên</th>
                                                <th>Trợ giảng</th>
                                                <th>Phòng</th>
                                                <th>Ghi chú</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-content-LichDayGiangVien"></tbody>
                                    </table>
                                    <script id="table-template-LichDayGiangVien" type="x-tmpl-mustache">
                                        <tr>
                                            <td>{{STT}}</td>
                                            <td>{{{Thu}}}</td>
                                            <td>{{Ca}}</td>
                                            <td>{{GiangVien}}</td>
                                            <td>{{TroGiang}}</td>
                                            <td>{{Phong}}</td>
                                            <td>{{GhiChuThoiKhoaBieu}}</td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------------------------------------------------------------------>
                        <!--tab lịch trống-->
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Thêm lịch trống</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                @*<div class="col-md-7 col-sm-7 col-xs-7 form-group has-feedback">
                                                        <h4>Thứ trong tuần</h4>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=7 name="NgayTrongTuan">CN
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=1 name="NgayTrongTuan">T2
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=2 name="NgayTrongTuan">T3
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=3 name="NgayTrongTuan">T4
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=4 name="NgayTrongTuan">T5
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=5 name="NgayTrongTuan">T6
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value=6 name="NgayTrongTuan">T7
                                                        </label>

                                                    </div>*@
                                                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                                                    <h4>Ca có thể trống</h4>
                                                    @await Component.InvokeAsync("ListCa")
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 form-group has-feedback" style="padding-top: 31px;">
                                                    <button type="button" class="btn btn-primary" id="btnAddLichTrong">
                                                        <i class="fa fa-plus"></i> Thêm lịch trống
                                                    </button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </form>
                                        <div class="x_title">
                                            <h2>Danh sách lịch trống</h2>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">Số thứ tự</th>
                                                        <th>Tên giảng viên</th>
                                                        <th>Ca</th>
                                                        <th>Hành động</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-content-ChiTietLichTrong"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <script id="table-template-ChiTietLichTrong" type="x-tmpl-mustache">
                                    <tr>
                                        <td>{{STT}}</td>
                                        <td>{{HoVaTen}}</td>
                                        <td>{{Ca}}</td>
                                        <td>
                                            <a href="#" id="btnDelLichTrong" data-id="{{Id}}" class="btn  btn-xs btn-danger btn-default"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Areas/Admin/Views/GiangVien/_ModalGiangVienPartialView.cshtml" />
<partial name="~/Areas/Admin/Views/GiangVien/_ModalAddHopDongPartialView.cshtml" />
@*<partial name="~/Areas/Admin/Views/GiangVien/_ModalChuyenMonGiangVienPartialView.cshtml"/>*@

<div class="modal fade" id="ChuyenMonGiangVienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:343px !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa chuyên môn giảng dạy của giảng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check list-inline">
                    @{var check = ""; }
                    @foreach (var itemj in ListLoaiGiangDay)
                    {
                        @foreach (var item in ListChuyenMon)
                        {
                            if (item.LoaiGiangDayId == itemj.Id)
                            {

                                <input class="form-check-input ChuyenMonGiangVienId" type="checkbox" value="@itemj.Id" name="ChuyenMonGiangVienId" checked="checked">
                                <label class="form-check-label" for="defaultCheck1">
                                    @itemj.TenLoaiGiangDay
                                </label>
                                <br />
                                check = check + "" + itemj.Id.ToString();
                            }
                        }

                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSaveChangeChuyenMonGiangVien" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>