﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- GiangVienController -->
    <script src="~/App/Controller/GiangVien/Index.js"></script>
    <script>
        var GiangVienController = new giangVienController();
        GiangVienController.initialize();
    </script>

}
<style>
    ul {
        list-style-type: none;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý giảng viên</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="navbar-nav ml-auto">
                        <li> <h2>Danh sách giảng viên đang giảng dạy tại trung tâm</h2></li>
                    </ul>

                    @*<ul class="navbar-nav ml-auto" style="float:right;">
                        <li>
                            <select class="form-control" id="HinhThucGiangVien">
                                <option value=1 selected="selected">Đang giảng dạy</option>
                                <option value=2>Tất cả</option>
                            </select>
                        </li>
                    </ul>*@
                    <div class="clearfix"></div>
                </div>
                <ul class="navbar-nav">
                    <li>
                        <button href="@Url.Action("AddGiangVien","GiangVien")" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Thêm giảng viên
                        </button>
                    </li>
                </ul>
                <div class="x_content">
                    <table id="" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên giảng viên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-GiangVien"></tbody>
                    </table>
                </div>
                <!--Pagination-->

                <div class="row">
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="table-template-GiangVien" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{HoVaTen}}</td>
                <td>{{SDT}}</td>
                <td>{{Email}}</td>
                <td>{{{TrangThai}}}</td>
                <td>
                    <a href="#" id="btnDetailGiangVien" data-id="{{Id}}" class="btn  btn-xs btn-primary btn-grant"><i class="fa fa-eye-slash"></i></a>
                    <a href="#" id="btnEditGiangVien" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" id="btnDelGiangVien" data-content="{{HoVaTen}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                </td>

            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/GiangVien/_ModalGiangVienPartialView.cshtml">
