﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.LichDayHomNay>
@{
    ViewData["Title"] = "ListGiangDay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách giảng dạy</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách giảng dạy</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="10%">Số thứ tự</th>
                                <th>Lớp học</th>
                                <th>Thứ</th>
                                <th>Thời gian bắt đầu</th>
                                <th>Thời gian kết thúc</th>
                                <th>Phòng</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-KhachHang">
                            @{ int i = 0;}
                            <tr>
                                @foreach (var item in Model)
                                {
                                    <td>@i++</td>
                                    <td>@item.TenKhoaHoc</td>
                                    <td>@item.Thu</td>
                                    <td>@item.GioBatDau</td>
                                    <td>@item.GioKetThuc</td>
                                    <td>@item.TenPhong</td>
                                    <td>
                                        @if (item.TroGiang == "1")
                                        {
                                            <span>Hoạt động</span>
                                        }
                                        else
                                        {
                                            <span>Kết thúc</span>
                                        }
                                    </td>

                                }
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
</div>


