﻿@model IEnumerable<RCCD_WebApp.Models.LoaiChuongTrinhHoc>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="#services" class="drop-text">@item.TenLoaiChuongTrinhHoc</a></li>
    }
</ul>
