﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.ChuongTrinhHoc>
<select class="form-control ChuongTrinhHocId" name="ChuongTrinhHocId" id="ChuongTrinhHocId">
    <option value="" selected="selected">--Chọn chương trình học--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenChuongTrinh</option>
    }
</select>
