﻿<div class="modal fade" id="DoiMatKhauModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 440px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LabelBoMon">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <label>Mật khẩu cũ *</label>
                        <input type="password" class="form-control" id="txtMatKhauCu" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <label>Mật khẩu mới *</label>
                        <input type="password" class="form-control" id="txtMatKhauMoi" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <label>Nhập lại mật khẩu mới *</label>
                        <input type="password" class="form-control" id="txtXacNhanMatKhauMoi" />
                        <!---->
                        <input type="hidden" id="txtNguoiDungId" />
                        <input type="hidden" id="txtMaNguoiDung" />
                        <input type="hidden" id="txtEmail" />
                        <input type="hidden" id="txtFullName" />
                        <input type="hidden" id="txtAvatar" />
                        <input type="hidden" id="txtPosition" />
                        <input type="hidden" id="txtStatus" />
                        <input type="hidden" id="txtNhanVienId" />
                        <input type="hidden" id="txtGiangVienId" />
                        <input type="hidden" id="txtHocVienId" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSaveDoiMatKhau" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>