﻿<div class="modal fade" id="NhanVienIndexModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 961px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LabelBoMon"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên nhân viên</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Thêm tài khoản</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-NhanVienChuaCoTaiKhoan"></tbody>
                    </table>
                </div>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
                <script id="table-template-NhanVienChuaCoTaiKhoan" type="x-tmpl-mustache">
                    <tr>
                        <td>{{STT}}</td>
                        <td>{{TenNhanVien}}</td>
                        <td>{{Email}}</td>
                        <td>{{SoDienThoai}}</td>
                        <td>
                            <a href="#" id="btnAddTaiKhoan" data-id="{{Id}}" class="btn  btn-xs btn-info btn-add"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</div>