﻿@using RCCD_WebApp.Areas.Admin.Models
@model NguoiDung
@{
    ViewData["Title"] = "DetailNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <!-- GiangVienController -->
    <script src="~/App/Controller/NguoiDung/Profile.js"></script>
    <script>
        var ProfileController = new profileController();
        ProfileController.initialize();
    </script>

}
<style>
    .has-feedback .form-control {
        padding-right: 5px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index","GiangVien")">Thông tin tài khoản</a></li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông tin tài khoản - @Model.FullName</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="@Model.Avatar" alt="Avatar" title="Change the avatar">
                            <input type="file" class="form-control" />
                        </div>
                    </div>
                    <h3>@Model.FullName</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <span>Tên đăng nhập: @Model.Email</span>
                        </li>

                    </ul>
                    <input type="hidden" value="@Model.Id" id="txtId" />
                    <a id="btnDoiMatKhau" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Đổi mật khẩu</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Areas/Admin/Views/NguoiDung/_ModalDoiMatKhauPartialView.cshtml"/>