﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/NguoiDung/GiangVienIndex.js"></script>
    <script>
        var GiangVienIndexController = new giangVienIndexController();
        GiangVienIndexController.initialize();
    </script>
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý tài khoản giảng viên</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách tài khoản giảng viên</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @await Component.InvokeAsync("ListGVChuaCoTaiKhoan")
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#" id="btnAddTaiKhoan" class="btn  btn-xs btn-info btn-add"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
               
                <div class="x_content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên đăng nhập</th>
                                <th>Tên giảng viên</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-GiangVienIndex"></tbody>
                    </table>
                    <!--Pagination-->
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <script id="table-template-GiangVienIndex" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenDangNhap}}</td>
                <td>{{TenGiangVien}}</td>
                <td>{{{TrangThai}}}</td>
                <td>
                    <a href="#" id="btnEditNguoiDung" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
        </script>
    </div>
</div>

