﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/NguoiDung/NhanVienIndex.js"></script>
    <script>
        var NhanVienIndexController = new nhanVienIndexController();
        NhanVienIndexController.initialize();
    </script>
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý tài khoản nhân viên</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách tài khoản nhân viên</h2>
                    <div class="clearfix"></div>
                </div>
                <button type="button" class="btn btn-primary" id="btnCallModalAddNguoiDung">
                    <i class="fa fa-plus"></i> Thêm tài khoản nhân viên
                </button>
                <div class="x_content">
                    <table  class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên đăng nhập</th>
                                <th>Tên nhân viên</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-NhanVienIndex"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-NhanVienIndex" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenDangNhap}}</td>
                <td>{{TenNhanVien}}</td>
                <td>{{{TrangThai}}}</td>
                <td>
                    <a href="#" id="btnEditNguoiDung" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/NguoiDung/_ModalAddNguoiDungPartialView.cshtml">
