﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.KhachHang>
<select class="form-control" name="KhachHangId" id="KhachHangId">
    @foreach (var item in Model)
    {
        <option value=@item.Id>@item.HoVaTen</option>
    }
</select>
