﻿@using RCCD_WebApp.Areas.Admin.Models
@model IEnumerable<LichDayHomNay>
<style>
    .w_25 {
        width: 40%;
    }
</style>
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>@item.TenKhoaHoc</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>Ngày</span>
                            </div>
                            <div class="w_center w_55">
                                @item.Thu

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>Giờ bắt đầu</span>
                            </div>
                            <div class="w_center w_55">
                                <span>@item.GioBatDau</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>Giờ kết thúc</span>
                            </div>
                            <div class="w_center w_55">
                                <span>@item.GioKetThuc</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>Phòng</span>
                            </div>
                            <div class="w_center w_55">
                                @item.TenPhong
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>Giảng viên</span>
                            </div>
                            <div class="w_center w_55">
                                @item.GiangVien
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        @*<div class="widget_summary">
                            <div class="w_left w_25">
                                <span>Tiến độ</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                        @*<div class="widget_summary">
                            <button class="btn btn-primary">Lịch sử điểm danh</button>
                            <div class="clearfix"></div>
                        </div>*@
                        <br />
                        <div class="widget_summary">
                           @* <button class="btn btn-danger" id="btnShowDanhSachHocVienInGetById" data-id="@item.KhoaHocId">Danh sách</button>*@
                            <button class="btn btn-success" id="btnShowDanhSachHocVienInGetById" data-id="@item.KhoaHocId">Điểm danh</button>
                            <div class="clearfix"></div>
                        </div>
                                
                    </div>
                </div>
            </div>
        }
    }
</div>
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalDanhSachHocVienPartialView.cshtml"/>
