﻿@model RCCD_WebApp.Areas.Admin.Models.Phong
@{
    ViewData["Title"] = "GetById";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index","Phong")">Quản lý cơ sở vật chất</a></li>
                <li class="breadcrumb-item active" aria-current="page"><strong>@Model.TenPhong</strong></li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <h5>Danh sách cơ sở vật chất @Model.TenPhong </h5>
                </div>
            </div>
        </div>
    </div>
</div>

