﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/Phong/Index.js"></script>
    <script>
        var PhongController = new phongController();
        PhongController.initialize();
    </script>
}
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý cơ sở vật chất</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách phòng</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <button type="button" id="btnCallFormAddPhong" class="btn btn-primary" data-toggle="modal">
                        <i class="fa fa-plus"></i>Thêm phòng
                    </button>
                    <hr />
                    <table  class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên phòng</th>
                                <th>Sức chứa</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-Phong"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-Phong" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenPhong}}</td>
                <td>{{SucChua}}</td>
                <td>{{{TrangThai}}}</td>
                <td>
                    <a href="#" id="btnEditPhong" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                   @* <a href="#" id="btnDelPhong" data-id="{{Id}}" data-content="{{TenPhong}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>*@
                </td>

            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/Phong/_ModalPhongPartialView.cshtml">
