﻿<select class="form-control" name="TrangThai" id="TrangThai">
    <option value=1>Kế hoạch</option>
    <option value=2>Đang thực hiện</option>
    <option value=3>Tạm hoãn</option>
    <option value=4>Kết thúc</option>
</select>
