﻿<style>
    .form-horizontal .control-label{
        text-align:left;
    }
</style>
<div class="modal fade" id="EditKhocHocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="frmEditKhoaHoc" class="form-horizontal form-label-right input_mask">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tên lớp học</label>
                                <input type="text" class="form-control" id="txtEditTenLopHoc">
                                <input type="hidden" class="form-control" id="txtEditId">
                                <input type="hidden" class="form-control" id="txtNhanVienId">
                                <input type="hidden" class="form-control" id="txtKhoaHocId">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Tên khóa học</label>
                                <input type="text" class="form-control" id="txtEditTenKhoaHoc">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời lượng (tiết)</label>
                                <input type="number" class="form-control" id="txtEditThoiLuong">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Học phí mỗi buổi</label>
                                <input type="text" class="form-control" id="txtEditHocPhiTietHoc">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng học phí</label>
                                <input type="number" class="form-control" id="txtEditTongKhoaHoc">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Giảm giá</label>
                                <input type="text" class="form-control" id="txtEditGiamGia">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Trạng thái</label>
                                <select class="form-control" id="EditTrangThaiKhoaHoc">
                                    <option value=1>Kế hoạch</option>
                                    <option value=2>Đang thực hiện</option>
                                    <option value=3>Tạm hoãn</option>
                                    <option value=4>Kết thúc</option>
                                    <option value=5>Đang tuyển sinh</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Thời gian bắt đầu</label>
                                <input class="form-control" id="EditThoiGianBatDau" type="date" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Thời gian kết thúc</label>
                                <input class="form-control" id="EditThoiGianKetThuc" type="date" />
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Giáo trình</label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" name="editor1" id="EditGiaoTrinh" style="width: 100%; height: 66px;">
                            </textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                                <button id="btnEditSaveChange" class="btn btn-success"><i class="fa fa-check-circle-o"></i> Xong</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
