﻿<style>
    .form-horizontal .control-label{
        text-align:left;
    }
</style>
<div class="modal fade" id="EditThoiGianHocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm thời gian học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">

                    <div class="x_content">
                        <form class="form-horizontal form-label-right input_mask">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Ngày bắt đầu</label>
                                <select class="form-control" id="Ngay">
                                    <option value=1>Thứ 2</option>
                                    <option value=2>Thứ 3</option>
                                    <option value=3>Thứ 4</option>
                                    <option value=4>Thứ 5</option>
                                    <option value=5>Thứ 6</option>
                                    <option value=6>Thứ 7</option>
                                    <option value=7>Chủ nhật</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giờ bắt đầu</label>
                                <input type="time" class="form-control" id="txtGioBatDau">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giờ kết thúc</label>
                                <input type="time" class="form-control" id="txtGioKetThuc">
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Phòng</label>
                                @await Component.InvokeAsync("ListPhong")
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giảng viên</label>
                                @await Component.InvokeAsync("ListGiangVien")
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                                <button id="btnAddThoiGianHocInModal" class="btn btn-danger">Thêm</button>
                            </div>
                        </form>

                    </div>
                    <div class="x_content">
                        <table class="table table-striped table-bordered" id="EdittblThoiGianHoc">
                            <thead>
                                <tr>
                                    <th>Ngày</th>
                                    <th>Giờ bắt đầu</th>
                                    <th>Giời kết thúc</th>
                                    <th>Phòng</th>
                                    <th>Giảng viên</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content-EditThoiGianHoc"></tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <button id="SaveEditThoiGianHoc" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template-EditThoiGianHoc" type="x-tmpl-mustache">
    <tr>
        <td hidden class='IdThoiGianHoc'>{{Id}}</td>
        <td class='Ngay'>{{Ngay}}</td>
        <td class='GioBatDau'>{{GioBatDau}}</td>
        <td class='GioKetThuc'>{{GioKetThuc}}</td>
        <td class='PhongId'>{{Phong}}</td>
        <td class='GiangVienId'>{{GiangVien}}</td>
        @*<td><a class='btnDelTime'><i class='fa fa-times-circle-o'></i></a></td>*@
    </tr>
</script>