﻿<div class="modal fade" id="ImportHocVienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Thêm danh sách học viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmImportHocVienModal" class="form-horizontal form-label-right input_mask">

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Nhập file</label>
                        <input type="file" class="form-control" id="fileHocVien">
                        
                    </div>
                   
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                        <button id="btnAddFileHocVien" class="btn btn-success">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>