﻿<div class="modal fade" id="ModalDanhSachHocVienInGetById" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Danh sách học viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" id="ShowtblThoiGianHoc">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content-ModalDanhSachHocVienInGetById"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script id="table-template-ModalDanhSachHocVienInGetById" type="x-tmpl-mustache">
    <tr>
        <td>{{STT}}</td>
        <td>{{HoVaTen}}</td>
        <td>{{SoDienThoai}}</td>
        <td>{{Email}}</td>
        <td>{{{Duyet}}}</td>
    </tr>
</script>