﻿<div class="modal fade" id="KhoaHocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Thêm khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmKhoaHoc" class="form-horizontal form-label-right input_mask">

                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tên lớp học</label>
                        <input type="text" class="form-control" id="txtTenLopHoc">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Tên khóa học</label>
                        <input type="text" class="form-control" id="txtTenKhoaHoc">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời lượng (tiết)</label>
                        <input type="number" class="form-control" id="txtThoiLuong">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Học phí mỗi buổi</label>
                        <input type="text" class="form-control" id="txtHocPhiTietHoc">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng học phí</label>
                        <input type="number" class="form-control" id="txtTongKhoaHoc">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Giảm giá</label>
                        <input type="text" class="form-control" id="txtGiamGia">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Trạng thái</label>
                        <select class="form-control" id="TrangThaiKhoaHoc">
                            <option value=1>Kế hoạch</option>
                            <option value=2>Đang thực hiện</option>
                            <option value=3>Tạm hoãn</option>
                            <option value=4>Kết thúc</option>
                            <option value=5>Đang tuyển sinh</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Giáo trình</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea name="editor1" id="GiaoTrinh" style="width: 100%; height: 66px;">
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                        <button id="btnAddKhoaHoc" class="btn btn-success">Tạo khóa học</button>
                        <button id="btnAddThoiGianHoc" class="btn btn-primary">Thêm thời gian học</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>