﻿<style>
    .form-horizontal .control-label{
        text-align:left;
    }
</style>
<div class="modal fade" id="ShowThoiGianHocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <table class="table table-striped table-bordered" id="ShowtblThoiGianHoc">
                        <thead>
                            <tr>
                                <th>Ngày</th>
                                <th>Giờ bắt đầu</th>
                                <th>Giời kết thúc</th>
                                <th>Phòng</th>
                                <th>Giảng viên</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-ShowThoiGianHoc"></tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
<script id="table-template-ShowThoiGianHoc" type="x-tmpl-mustache">
    <tr>
        <td>{{Ngay}}</td>
        <td>{{GioBatDau}}</td>
        <td>{{GioKetThuc}}</td>
        <td>{{Phong}}</td>
        <td>{{GiangVien}}</td>
    </tr>
</script>