﻿<style>
    .form-horizontal .control-label{
        text-align:left;
    }
</style>
<div class="modal fade" id="ModalEditThoiGianHocInGetByIdPartialView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thời gian học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form class="form-horizontal form-label-right input_mask">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Ngày bắt đầu</label>
                                <select class="form-control" id="EditNgay">
                                    <option value=1>Thứ 2</option>
                                    <option value=2>Thứ 3</option>
                                    <option value=3>Thứ 4</option>
                                    <option value=4>Thứ 5</option>
                                    <option value=5>Thứ 6</option>
                                    <option value=6>Thứ 7</option>
                                    <option value=7>Chủ nhật</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giờ bắt đầu</label>
                                <input type="time" class="form-control" id="txtEditGioBatDau">
                                <input type="hidden" class="form-control" id="txtEditKhoaHocId">
                                <input type="hidden" class="form-control" id="txtEditChiTietGiangDayId">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giờ kết thúc</label>
                                <input type="time" class="form-control" id="txtEditGioKetThuc">
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Phòng</label>
                                @await Component.InvokeAsync("ListPhong")
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Giảng viên</label>
                                @await Component.InvokeAsync("ListGiangVien")
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                                <button id="btnSaveChangeEditThoiGianHocInGetById" class="btn btn-danger">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
