﻿@using RCCD_WebApp.Areas.Admin.Models
@model KhoaHoc
@{ IEnumerable<LoaiGiangDay> ListLoaiGiangDay = (IEnumerable<LoaiGiangDay>)ViewBag.ListLoaiGiangDay;}
@{ IEnumerable<RCCD_WebApp.Areas.Admin.Models.LoaiChuongTrinhHoc> ListLoaiChuongTrinhHoc = (IEnumerable<RCCD_WebApp.Areas.Admin.Models.LoaiChuongTrinhHoc>)ViewBag.ListLoaiChuongTrinhHoc;}
@{ IEnumerable<ChuongTrinhHoc> ListChuongTrinhHoc = (IEnumerable<ChuongTrinhHoc>)ViewBag.ListChuongTrinhHoc;}
@{ IEnumerable<CapDo> ListCapDo = (IEnumerable<CapDo>)ViewBag.ListCapDo;}
@{ IEnumerable<NhanVien> ListNhanVien = (IEnumerable<NhanVien>)ViewBag.ListNhanVien;}
@{
    ViewData["Title"] = "DetailLopHoc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- ThoiKhoaBieuController -->
    <script src="~/App/Controller/ThoiKhoaBieu/Index.js"></script>

    <!-- khoaHocTiepTheoController -->
    <script src="~/App/Controller/KhoaHocTiepTheo/Index.js"></script>

    <!-- chiTietDangKyKhoaHocController -->
    <script src="~/App/Controller/ChiTietDangKyKhoaHoc/Index.js"></script>

    <script>
        var ThoiKhoaBieuController = new thoiKhoaBieuController();
        ThoiKhoaBieuController.initialize();
    </script>

    <script>
        var KhoaHocTiepTheoController = new khoaHocTiepTheoController();
        KhoaHocTiepTheoController.initialize();
    </script>
    <script>
        var ChiTietDangKyKhoaHocController = new chiTietDangKyKhoaHocController();
        ChiTietDangKyKhoaHocController.initialize();
    </script>

}
<style>
    .has-feedback .form-control {
        padding-right: 5px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index","KhoaHoc")">Quản lý khóa học</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết lớp học</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Chi tiết lớp học <small> @Model.TenLop - @Model.MaLop</small></h2>
                &nbsp;&nbsp;
                @{
                    if (Model.TrangThai == 1)
                    {
                        <a id="btnThucHien" class="btn btn-xs btn-danger">Thực hiện</a>
                        @*<a id="btnTamHoan" class="btn btn-xs btn-warning">Tạm hoãn</a>*@
                    }
                    if (Model.TrangThai == 2)
                    {
                        <a  id="btnKetThuc" class="btn btn-xs btn-dark">Kết thúc</a>
                        @*<a  id="btnTamHoan" class="btn btn-xs btn-warning">Tạm hoãn</a>*@
                    }
                }
                <input type="hidden" id="txtSoLuongHocVienToiDa" value=@Model.SoLuongHocVien />
                <input type="hidden" id="txtLoaiGiangDay" value=@Model.LoaiGiangDayId />
                <input type="hidden" id="txtKhoaHocId" value=@Model.Id />
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Thông tin</a>
                        </li>
                        @*<li role="presentation" class="">
                                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Khách hàng</a>
                            </li>*@
                        <li role="presentation" class="">
                            <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Học viên</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Thời khóa biểu</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <!-- start recent activity -->
                            <div class="col-xs-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Loại giảng dạy</th>
                                                <td>
                                                    @foreach (var item in ListLoaiGiangDay)
                                                    {
                                                        if (item.Id == Model.LoaiGiangDayId)
                                                        {
                                                            <span>@item.TenLoaiGiangDay</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width:50%">Loại chương trình học</th>
                                                <td>
                                                    @foreach (var item in ListLoaiChuongTrinhHoc)
                                                    {
                                                        if (item.Id == Model.LoaiChuongTrinhHocId)
                                                        {
                                                            <span>@item.TenLoaiChuongTrinhHoc</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width:50%">Chương trình học</th>
                                                <td>
                                                    @foreach (var item in ListChuongTrinhHoc)
                                                    {
                                                        if (item.Id == Model.ChuongTrinhHocId)
                                                        {
                                                            <span>@item.TenChuongTrinh</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Cấp độ</th>
                                                <td>
                                                    @foreach (var item in ListCapDo)
                                                    {
                                                        if (item.Id == Model.CapDoId)
                                                        {
                                                            <span>@item.TenCapDo</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Thời khóa biểu</th>
                                                <td>Cập nhật...</td>
                                            </tr>
                                            <tr>
                                                <th>Tên lớp</th>
                                                <td><span class="label label-primary">@Model.TenLop</span></td>
                                            </tr>
                                            <tr>
                                                <th>Mã lớp</th>
                                                <td>@Model.MaLop</td>
                                            </tr>
                                            <tr>
                                                <th>Học viên tối thiểu</th>
                                                <td>@Model.SoLuongHocVienToiThieu</td>
                                            </tr>
                                            <tr>
                                                <th>Học viên tối đa</th>
                                                <td>@Model.SoLuongHocVien</td>
                                            </tr>
                                            <tr>
                                                <th>Giáo trình</th>
                                                <td>@Model.GiaoTrinh</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Trạng thái</th>
                                                <td>
                                                    @if (Model.TrangThai == 1)
                                                    {
                                                        <span class="label label-primary">Kế hoạch</span>
                                                    }
                                                    @if (Model.TrangThai == 2)
                                                    {
                                                        <span class="label label-danger">Đang thực hiện</span>
                                                    }
                                                    @if (Model.TrangThai == 3)
                                                    {
                                                        <span class="label label-warning">Tạm hoãn</span>
                                                    }
                                                    @if (Model.TrangThai == 4)
                                                    {
                                                        <span class="label label-success">Kết thúc</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Ngày bắt đầu</th>
                                                <td>
                                                    @if (Model.ThoiGianBatDau.Value == null)
                                                    {
                                                        <span>Đang cập nhật</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@Model.ThoiGianBatDau.Value.ToString("dd/MM/yyyy")</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Tổng số tiết</th>
                                                <td>@Model.ThoiLuong</td>
                                            </tr>
                                            <tr>
                                                <th>Thời gian kết thúc</th>
                                                <td>
                                                    @if (Model.ThoiGianKetThuc == null)
                                                    {
                                                        <span class="label label-warning">Chưa cập nhật thời khóa biểu</span>
                                                    }
                                                    else
                                                    {
                                                        @Model.ThoiGianKetThuc.Value.ToString("dd/MM/yyyy")
                                                    }

                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Học phí</th>
                                                <td>@Model.HocPhiKhoaHoc</td>
                                            </tr>
                                            <tr>
                                                <th>Học phí từng buổi</th>
                                                <td>@Model.HocPhiTietHoc</td>
                                            </tr>
                                            <tr>
                                                <th>Giảm giá</th>
                                                <td>@Model.GiamGia</td>
                                            </tr>
                                            <tr>
                                                <th>Người tạo</th>
                                                <td>
                                                    @foreach (var item in ListNhanVien)
                                                    {
                                                        if (item.Id == Model.NhanVienId)
                                                        {
                                                            <span>@item.HoVaTen</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Người phụ trách</th>
                                                <td>
                                                    @foreach (var item in ListNhanVien)
                                                    {
                                                        if (item.Id == Model.NguoiPhuTrach)
                                                        {
                                                            <span>@item.HoVaTen</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                                    <a href="@Url.Action("EditKhoaHoc","KhoaHoc",new {id=Model.MaLop })" id="btnSuaKhoaHoc" class="btn btn-xs btn-success">Sửa</a>
                                </div>
                            </div>
                            <!-- LỚp tiếp theo -->
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Lớp tiếp theo</h2>
                                        @using Microsoft.AspNetCore.Http
                                        @{
                                            const string NguoiDungId = "_nguoiDungId";
                                            var nguoiDungId = Context.Session.GetString(NguoiDungId);
                                        }
                                        <input type="hidden" value="@nguoiDungId" id="txtNhanVienId" />
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Mã lớp học</label>
                                                    <input type="text" class="form-control" id="txtMaLopHoc" readonly>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                                        Loại giảng dạy *
                                                    </label>
                                                    @await Component.InvokeAsync("ListLoaiGiangDay")
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Loại chương trình học</label>
                                                    <select class="form-control" id='LoaiChuongTrinhHocId'>
                                                        <option value=0>--Chọn loại chương trình học--</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Chương trình học</label>
                                                    <select class="form-control" id='ChuongTrinhHocId'>
                                                        <option value=0>--Chọn chương trình học--</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Cấp độ</label>
                                                    <select class="form-control" id='CapDoId'>
                                                        <option value=0>--Chọn cấp độ--</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                                                        Tên lớp học *
                                                    </label>
                                                    <input type="text" class="form-control" id="txtTenLopHoc">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Học viên tối thiểu</label>
                                                    <input type="number" class="form-control" id="txtHocVienToiThieu">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Học viên tối đa</label>
                                                    <input type="number" class="form-control" id="txtHocVienToiDa">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời lượng (tiết)</label>
                                                    <input type="number" class="form-control" id="txtThoiLuong">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời gian bắt đầu</label>
                                                    @{
                                                        var ngayBatDauKhoaHocTiepTheo = "";
                                                        if (Model.ThoiGianKetThuc != null)
                                                        {
                                                            ngayBatDauKhoaHocTiepTheo = Model.ThoiGianKetThuc.Value.ToString("dd/MM/yyyy");
                                                        }
                                                    }
                                                    <input type="text" value="@ngayBatDauKhoaHocTiepTheo" class="form-control" id="txtThoiGianBatDauKhoaHoc">
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Học phí mỗi buổi (nếu có)</label>
                                                    <input type="text" class="form-control" id="txtHocPhiTietHoc">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng học phí</label>
                                                    <input type="number" class="form-control" id="txtTongKhoaHoc">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Giảm giá</label>
                                                    <input type="text" class="form-control" id="txtGiamGia">
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Trạng thái</label>
                                                    <partial name="~/Areas/Admin/Views/KhoaHoc/_ListTrangThaiKhoaHocPartialView.cshtml">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Người phụ trách</label>
                                                    @await Component.InvokeAsync("ListNhanVien")
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                                                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Giáo trình</label>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <textarea name="editor1" id="GiaoTrinh" style="text-align:left; width: 100%; height: 66px;">
                                </textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                                        <button id="btnAddKhoaHoc" class="btn btn-success">Tạo khóa học</button>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <!-- start user projects -->
                            <table class="data table table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Project Name</th>
                                        <th>Client Company</th>
                                        <th class="hidden-phone">Hours Spent</th>
                                        <th>Contribution</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>New Company Takeover Review</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">18</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>New Partner Contracts Consultanci</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">13</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Partners and Inverstors report</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">30</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>New Company Takeover Review</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">28</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end user projects -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <ul>
                                <li>
                                    <button class="btn btn-primary" id="btnCallAddFileHocVienModal"><i class="fa fa-users"></i> Thêm danh sách</button>
                                </li>
                                <li>
                                    <button class="btn btn-info"><i class="fa fa-user" id="AddChiTietDangKyKhoaHoc"></i> Thêm học viên</button>
                                </li>
                            </ul>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Danh sách học viên</label>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="5%">STT</th>
                                            <th>Họ và tên</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Trạng thái</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-content-ListHocVienCuaLopHoc"></tbody>
                                </table>
                                <script id="table-template-ListHocVienCuaLopHoc" type="x-tmpl-mustache">
                                    <tr>
                                        <td>{{STT}}</td>
                                        <td>{{{HoVaTen}}}</td>
                                        <td>{{SDT}}</td>
                                        <td>{{Email}}</td>
                                        <td>{{TrangThai}}</td>
                                        <td>
                                            <a class="btn btn-xs btn-danger" id="btnDeleteThoiKhoaBieu" data-id={{Id}}><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </script>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Tạo tời khóa biểu cho lớp học</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                            <ul class="stats-overview">
                                                <li>
                                                    <span class="value text-success"> Ngày bắt đầu </span>
                                                    @{
                                                        var thuNumber = Convert.ToInt32(Model.ThoiGianBatDau.Value.DayOfWeek);
                                                        var thuString = "";
                                                        if (thuNumber == 1)
                                                        {
                                                            thuString = "Thứ 2";
                                                        }
                                                        else if (thuNumber == 2)
                                                        {
                                                            thuString = "Thứ 3";
                                                        }
                                                        else if (thuNumber == 3)
                                                        {
                                                            thuString = "Thứ 4";
                                                        }
                                                        else if (thuNumber == 4)
                                                        {
                                                            thuString = "Thứ 5";
                                                        }
                                                        else if (thuNumber == 5)
                                                        {
                                                            thuString = "Thứ 6";
                                                        }
                                                        else if (thuNumber == 6)
                                                        {
                                                            thuString = "Thứ 7";
                                                        }
                                                        else if (thuNumber == 7)
                                                        {
                                                            thuString = "CN";
                                                        }
                                                        else
                                                        {
                                                            thuString = "Lỗi";
                                                        }

                                                    }
                                                    <span class="name"> @thuString, @Model.ThoiGianBatDau.Value.ToString("dd/MM/yyyy") </span>
                                                </li>
                                                <li>
                                                    <span class="value text-success"> Tổng số tiết </span>
                                                    <span class="name"> @Model.ThoiLuong (tiết) </span>
                                                </li>
                                                <li class="hidden-phone">
                                                    <span class="value text-success"> Ngày kết thúc dự kiến </span>
                                                    <span class="name">
                                                        @if (Model.ThoiGianKetThuc == null)
                                                        {
                                                            <span class="label label-warning">Chưa cập nhật thời khóa biểu</span>
                                                        }
                                                        else
                                                        {
                                                            @Model.ThoiGianKetThuc.Value.ToString("dd/MM/yyyy")
                                                        }
                                                    </span>
                                                    <button id="txtTinhThoiGianKetThuc" class="btn btn-xs btn-primary">Cập nhật</button>


                                                </li>
                                                <li>
                                                    <span class="value text-success"> Số lượng học viên hiện tại </span>
                                                    <span class="name"> @ViewBag.CountChiTietDangKyKhoaHoc </span>
                                                    @{ int soLuongHocVienHienTai = Convert.ToInt32(@ViewBag.CountChiTietDangKyKhoaHoc); }
                                                    <input type="hidden" value="@soLuongHocVienHienTai" id="txtSoLuongHocVienHienTai" />
                                                </li>
                                            </ul>
                                            <br />
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Thời khóa biểu trong tuần</label>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">STT</th>
                                                        <th>Thứ</th>
                                                        <th>Ca</th>
                                                        <th>Giảng viên</th>
                                                        <th>Trợ giảng</th>
                                                        <th>Phòng</th>
                                                        <th>Ghi chú</th>
                                                        <th>Xóa</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-content-ThoiKhoaBieu"></tbody>
                                            </table>
                                            <script id="table-template-ThoiKhoaBieu" type="x-tmpl-mustache">
                                                <tr>
                                                    <td>{{STT}}</td>
                                                    <td>{{{Thu}}}</td>
                                                    <td>{{Ca}}</td>
                                                    <td>{{GiangVien}}</td>
                                                    <td>{{TroGiang}}</td>
                                                    <td>{{Phong}}</td>
                                                    <td>{{GhiChuThoiKhoaBieu}}</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" id="btnDeleteThoiKhoaBieu" data-id={{Id}}><i class="fa fa-trash"></i></a>
                                                    </td>

                                                </tr>
                                            </script>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Chọn ca học</label>
                                                @await Component.InvokeAsync("ListCa")
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
                                                <label class="control-label col-md-12 col-sm-12 col-xs-12">Ghi chú</label>
                                                <input type="text" class="form-control" id="txtGhiChuThoiKhoaBieu" />
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1 form-group has-feedback text-right">
                                                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="height:17px;"></label>
                                                <button id="btnAddThoiKhoaBieu" class="btn btn-xs btn-success">Thêm</button>
                                                <input type="hidden" value="@Model.LoaiGiangDayId" id="txtLoaiGiangDayId" />
                                                <input type="hidden" value="@Model.SoLuongHocVien" id="txtHocVienToiDa" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Phòng gợi ý</label>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">STT</th>
                                                        <th>Tên phòng</th>
                                                        <th>Tối đa (chỗ)</th>
                                                        <th>Trạng thái</th>
                                                        <th>Chọn</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-content-PhongBySoLuongHocVienToiDa"></tbody>
                                            </table>
                                            <script id="table-template-PhongBySoLuongHocVienToiDa" type="x-tmpl-mustache">
                                                <tr>
                                                    <td>{{STT}}</td>
                                                    <td>{{TenPhong}}</td>
                                                    <td>{{SoLuongHocVienToiDa}}</td>
                                                    <td>{{{TrangThai}}}</td>
                                                    <td>
                                                        {{{ChonPhong}}}
                                                    </td>
                                                </tr>
                                            </script>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Giảng viên gợi ý</label>
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%">STT</th>
                                                            <th>Họ và tên</th>
                                                            <th>Loại giảng viên</th>
                                                            <th>Trợ giảng</th>
                                                            <th>Chọn</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl-content-GiangVienByLoaiGiangDayId"></tbody>
                                                </table>
                                            </div>

                                            <script id="table-template-GiangVienByLoaiGiangDayId" type="x-tmpl-mustache">
                                                <tr>
                                                    <td>{{STT}}</td>
                                                    <td>{{HoVaTen}}</td>
                                                    <td>{{{LoaiGiangVien}}}</td>
                                                    <td>{{{TroGiang}}}</td>
                                                    <td>
                                                        {{{ChonGiangVien}}}
                                                    </td>
                                                </tr>
                                            </script>
                                            <!--Pagination-->
                                            @*<div class="row text-center">
                                                    <div class="col-sm-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                                            <ul id="paginationUL"></ul>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>

                                        <br />
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    ul li {
        display: inline;
    }
</style>
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalImportHocVienPartialView.cshtml" />