﻿@model RCCD_WebApp.Areas.Admin.Models.KhoaHoc
@{
    ViewData["Title"] = "EditKhoaHoc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#NhanVienId').val(@Model.NguoiPhuTrach);
            $('#LoaiGiangDayId').val(@Model.LoaiGiangDayId);
            $('#LoaiChuongTrinhHocId').val(@Model.LoaiChuongTrinhHocId);
            $('#ChuongTrinhHocId').val(@Model.ChuongTrinhHocId);
            $('#CapDoId').val(@Model.CapDoId);
            $('#TrangThai').val(@Model.TrangThai);
        });
    </script>
    <script src="~/App/Controller/KhoaHoc/EditKhoaHoc.js"></script>

    <script>
        var EditKhoaHocController = new editKhoaHocController();
        EditKhoaHocController.initialize();
    </script>
}
@using Microsoft.AspNetCore.Http
@{
    const string NguoiDungId = "_nguoiDungId";
    var nguoiDungId = Context.Session.GetString(NguoiDungId);
}
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index","KhoaHoc")">Quản lý danh sách lớp</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("DetailLopHoc","KhoaHoc",new {id= Model.MaLop})">Lớp: @Model.TenLop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sửa thông tin lớp học</li>
        </ol>
    </nav>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Sửa thông tin lớp <small><a href="@Url.Action("DetailLopHoc","KhoaHoc",new {id= Model.MaLop})">@Model.TenLop - @Model.MaLop</a> </small></h2>
            <input type="hidden" id="txtKhoaHocId" value=@Model.Id />
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Mã lớp học</label>
                        <input type="text" value="@Model.MaLop" class="form-control" id="txtMaLopHoc" readonly>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                            Loại giảng dạy *
                        </label>
                        @await Component.InvokeAsync("ListLoaiGiangDay")
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Loại chương trình học</label>
                        @*<select class="form-control" id='LoaiChuongTrinhHocId'>
                                <option value=0>--Chọn loại chương trình học--</option>
                            </select>*@
                        @await Component.InvokeAsync("ListLoaiChuongTrinhHoc")
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Chương trình học</label>
                        @*<select class="form-control" id='ChuongTrinhHocId'>
                                <option value=0>--Chọn chương trình học--</option>
                            </select>*@
                        @await Component.InvokeAsync("ListChuongTrinhHoc")
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Cấp độ</label>
                        @*<select class="form-control" id='CapDoId'>
                                <option value=0>--Chọn cấp độ--</option>
                            </select>*@
                        @await Component.InvokeAsync("ListCapDo")
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                            Tên lớp học *
                        </label>
                        <input type="text" value="@Model.TenLop" class="form-control" id="txtTenLopHoc">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Học viên tối thiểu</label>
                        <input type="number" value="@Model.SoLuongHocVienToiThieu" class="form-control" id="txtHocVienToiThieu">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Học viên tối đa</label>
                        <input type="number" value="@Model.SoLuongHocVien" class="form-control" id="txtHocVienToiDa">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời lượng (tiết)</label>
                        <input type="number" value="@Model.ThoiLuong" class="form-control" id="txtThoiLuong">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời gian bắt đầu</label>
                        <input type="text" value="@Model.ThoiGianBatDau.Value.ToString("dd/MM/yyyy")" class="form-control" id="txtThoiGianBatDauKhoaHoc">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Học phí mỗi buổi (nếu có)</label>
                        <input type="text" value="@Model.HocPhiTietHoc" class="form-control" id="txtHocPhiTietHoc">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng học phí</label>
                        <input type="number" value="@Model.HocPhiKhoaHoc" class="form-control" id="txtTongKhoaHoc">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Giảm giá</label>
                        <input type="text" value="@Model.GiamGia" class="form-control" id="txtGiamGia">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Trạng thái</label>
                        <partial name="~/Areas/Admin/Views/KhoaHoc/_ListTrangThaiKhoaHocPartialView.cshtml">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">

                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Người phụ trách</label>
                        @await Component.InvokeAsync("ListNhanVien")
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Giáo trình</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea name="editor1" id="GiaoTrinh" style="text-align:left; width: 100%; height: 66px;">
                            </textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
            <input type="hidden" id="txtEditId" value="@Model.Id" />
            <input type="hidden" id="txtNhanVienTaoId" value="@nguoiDungId" />
            <input type="hidden" id="txtThoiGianKetThuc" value="@Model.ThoiGianKetThuc" />
            <input type="hidden" id="txtFlag" value="@Model.Flag" />
            <input type="hidden" id="txtLopHocTruoc" value="@Model.LopHocTruocId" />
            <button id="btEditKhoaHoc" class="btn btn-success">Lưu</button>
        </div>

    </div>
</div>

