﻿@{
    ViewData["Title"] = "Thêm khóa học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- KhoaHocController -->
    <script src="~/App/Controller/KhoaHoc/Index.js"></script>

    <script>
        var KhoaHocController = new khoaHocController();
        KhoaHocController.initialize();
    </script>

}
<style>
    .has-feedback .form-control {
        padding-right: 5px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index","KhoaHoc")">Quản lý khóa học</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm lớp học</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thêm lớp học <small>* là thông tin bắt buộc nhập</small> </h2>
                @using Microsoft.AspNetCore.Http
                @{
                    const string NguoiDungId = "_nguoiDungId";
                    var nguoiDungId = Context.Session.GetString(NguoiDungId);
                }
                <input type="hidden" value="@nguoiDungId" id="txtNhanVienId"/>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="frmAddKhoaHoc" class="form-horizontal form-label-right input_mask">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Mã lớp học</label>
                            <input type="text" class="form-control" id="txtMaLopHoc" readonly>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                            Loại giảng dạy *
                            </label>
                            @await Component.InvokeAsync("ListLoaiGiangDay")
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Loại chương trình học</label>
                            <select class="form-control" id='LoaiChuongTrinhHocId'>
                                <option value=0>--Chọn loại chương trình học--</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Chương trình học</label>
                            <select class="form-control" id='ChuongTrinhHocId'>
                                <option value=0>--Chọn chương trình học--</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Cấp độ</label>
                            <select class="form-control" id='CapDoId'>
                                <option value=0>--Chọn cấp độ--</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">
                            Tên lớp học *
                            </label>
                            <input type="text" class="form-control" id="txtTenLopHoc">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Học viên tối thiểu</label>
                            <input type="number" class="form-control" id="txtHocVienToiThieu">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Học viên tối đa</label>
                            <input type="number" class="form-control" id="txtHocVienToiDa">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời lượng (tiết)</label>
                            <input type="number" class="form-control" id="txtThoiLuong">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                       
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Thời gian bắt đầu</label>
                            <input type="date" class="form-control" id="txtThoiGianBatDauKhoaHoc">
                        </div>
                       
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Học phí mỗi buổi (nếu có)</label>
                            <input type="text" class="form-control" id="txtHocPhiTietHoc">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng học phí</label>
                            <input type="number" class="form-control" id="txtTongKhoaHoc">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Giảm giá</label>
                            <input type="text" class="form-control" id="txtGiamGia">
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Trạng thái</label>
                            <partial name="~/Areas/Admin/Views/KhoaHoc/_ListTrangThaiKhoaHocPartialView.cshtml">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Người phụ trách</label>
                            @await Component.InvokeAsync("ListNhanVien")
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Giáo trình</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea name="editor1" id="GiaoTrinh" style="text-align:left; width: 100%; height: 66px;">
                                </textarea>
                            </div>
                        </div>
                    </div>
                        
                </form>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                <button id="btnAddKhoaHoc" class="btn btn-success">Tạo khóa học</button>
            </div>
        </div>
    </div>

</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalKhoaHocPartialView.cshtml">
