﻿@using RCCD_WebApp.Areas.Admin.Models
@{ KhoaHoc khoaHoc = ViewBag.KhoaHoc;}
@{
    ViewData["Title"] = "GetById";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index","KhoaHoc")">Quản lý khóa học</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin khóa học</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thông tin khóa học <strong>@khoaHoc.TenLop - @khoaHoc.TenKhoa</strong></h2>
                    @*<input type="hidden" value="@khoaHoc.KhoaHocId" class="form-control" id="txtKhoaHocIdInGetById">*@
                   @* <input type="hidden" value="@khoaHoc.Id" class="form-control" id="txtIdInGetById">*@
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-6 col-sm-6 col-xs-12 widget_tally_box text-center">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                            <div class="x_title text-center" style="text-align: center;">
                                <p>Tiến độ giảng dạy</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div style="text-align: center; margin-bottom: 17px">
                                    <span class="chart" data-percent="86">
                                        <span class="percent"></span>
                                    </span>
                                </div>
                                <h3 class="name_title">Finance</h3>
                                <p>Short Description</p>
                                <div class="divider"></div>
                                <p>If you've decided to go in development mode and tweak all of this a bit, there are few things you should do.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-bookmark-o"></i></td>
                                    <td>Tên lớp học</td>
                                    <td>@khoaHoc.TenLop</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-bookmark-o"></i></td>
                                    <td>Tên khóa học</td>
                                    <td>@khoaHoc.TenKhoa</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-cubes"></i></td>
                                    <td>Thời lượng</td>
                                    <td>@khoaHoc.ThoiLuong (tiết)</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-money"></i></td>
                                    <td>Học phí</td>
                                    <td>
                                        @String.Format("{0:c}", khoaHoc.HocPhiKhoaHoc)
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-certificate"></i></td>
                                    <td>Giảm giá</td>
                                    <td>

                                        @if (khoaHoc.GiamGia == null)
                                        {
                                            <span>Không</span>
                                        }
                                        else
                                        {
                                            <span>@String.Format("{0:c}", khoaHoc.GiamGia)</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-calendar"></i></td>
                                    <th>Ngày bắt đầu</th>
                                    <td>
                                        @if (khoaHoc.ThoiGianBatDau == null)
                                        {
                                            <span>Đang cập nhât...</span>
                                        }
                                        else
                                        {
                                            <span>@khoaHoc.ThoiGianBatDau</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-calendar"></i></td>
                                    <th>Ngày kết thúc</th>
                                    <td>

                                        @if (khoaHoc.ThoiGianKetThuc == null)
                                        {
                                            <span>Đang cập nhật...</span>
                                        }
                                        else
                                        {
                                            <span>@khoaHoc.ThoiGianKetThuc</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-star"></i></td>
                                    <th>Trạng thái</th>
                                    <td>

                                        @if (khoaHoc.TrangThai == 1)
                                        {
                                            <span>Kế hoạch</span>
                                        }
                                        else if (khoaHoc.TrangThai == 2)
                                        {
                                            <span>Đang thực hiện</span>
                                        }
                                        else if (khoaHoc.TrangThai == 3)
                                        {
                                            <span>Tạm hoãn</span>
                                        }
                                        else if (khoaHoc.TrangThai == 4)
                                        {
                                            <span>Kết thúc</span>
                                        }
                                        else
                                        {
                                            <span>Đang tuyển sinh</span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ln_solid"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="float:right;">
                            <button id="btnShowDanhSachHocVienInGetById" data-id="@khoaHoc.Id" class="btn btn-success"><i class="fa fa-users"></i> Danh sách học viên</button>
                            <button id="btnEditKhoaHoc" data-id="@khoaHoc.Id" class="btn btn-danger"><i class="fa fa-edit"></i> Sửa khóa học</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"> <h2><i class="fa fa-clock-o"></i> Thời gian học</h2></li>
                    </ul>
                    <ul class="navbar-nav mr-auto" style="float:right;">
                        <li class="nav-item"><button class="btn btn-primary pl-0" id="btnEditThoiGianHoc" data-id=""><i class="fa fa-plus"></i> Thêm thời gian học</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                @*@await Component.InvokeAsync("ListChiTietGiangDay", new { khoaHocId = khoaHoc.KhoaHocId })*@
            </div>
        </div>
    </div>
</div>
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalEditThoiGianHocPartialView.cshtml">
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalEditKhoaHocPartialView.cshtml">
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalEditThoiGianHocInGetByIdPartialView.cshtml">
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalDanhSachHocVienPartialView.cshtml">
<style>
    ul {
        list-style-type: none;
    }
</style>

