﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- KhoaHocController -->
    <script src="~/App/Controller/KhoaHoc/Index.js"></script>

    <script>
        var KhoaHocController = new khoaHocController();
        KhoaHocController.initialize();
    </script>
    
}
<style>
    .form-horizontal .control-label {
        text-align: left;
    }

    ul {
        list-style-type: none;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý khóa học</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="navbar-nav ml-auto">
                        <li><h2>Danh sách lớp học</h2></li>
                    </ul>

                    @*<ul class="navbar-nav ml-auto" style="float:right;">
                        <li>
                            <select class="form-control" id="HinhThucKhoaHoc">
                                <option value=1>Kế hoạch</option>
                                <option value=2 selected="selected">Đang thực hiện</option>
                                <option value=3>Tạm hoãn</option>
                                <option value=4>Kết thúc</option>
                                <option value=5>Đang tuyển sinh</option>
                                <option value=6>Tất cả</option>
                            </select>
                        </li>
                    </ul>*@
                    <ul class="navbar-nav ml-auto" style="float:right;">
                        <li>
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Hình thực khóa học</label>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li>
                        <button type="button" id="btnCallFormAddKhoaHoc" class="btn btn-primary" data-toggle="modal">
                            <i class="fa fa-plus"></i> Thêm khóa học
                        </button>
                    </li>
                </ul>
                @*<ul class="navbar-nav mr-auto" style="float:right;">
                    <li>
                        <button type="button" id="btnCallFormAddKhoaHoc" class="btn btn-success" data-toggle="modal">
                            <i class="fa fa-file-excel-o"></i> Import khóa học
                        </button>
                    </li>
                </ul>*@
                <div class="x_content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                @*<th>Loại giảng dạy</th>
                                <th>Loại chương trình học</th>
                                <th>Chương trình học</th>
                                <th>Cấp độ</th>*@
                                <th>Tên lớp</th>
                                <th>TL (tiết)</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Học phí</th>
                                <th>SLHV</th>
                                <th>Trạng thái</th>
                                @*<th>Tuyển sinh</th>*@
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-KhoaHoc"></tbody>
                    </table>
                </div>  
                <!--Pagination-->

                <div class="row">
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="table-template-KhoaHoc" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                @*<td>{{LoaiGiangDay}}</td>
        <td>{{LoaiChuongTrinhHoc}}</td>
        <td>{{ChuongTrinhHoc}}</td>
        <td>{{CapDo}}</td>*@
                <td>{{TenLop}}</td>
                <td>{{ThoiLuong}}</td>
                <td>{{NgayBatDau}}</td>
                <td>{{NgayKetThuc}}</td>
                <td>{{HocPhi}}</td>
                <td>{{SoLuongHocVien}}</td>
                {{{TrangThai}}}
                @*<td style="background-color:dodgerblue;">{{TrangThai}}</td>*@
                <td class="KhoaHocId" hidden>{{Id}}</td>
                <td class="FlagId" hidden>{{FlagId}}</td>
                @*<td class="text-center">
            {{&Flag}}
        </td>*@
                <td>
                    <a href="#" id="btnGetDetailKhoaHoc" data-id="{{MaLop}}" class="btn  btn-xs btn-primary btn-grant"><i class="fa fa-eye-slash"></i></a>
                    @*<a href="#" id="btnEditKhoaHoc" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>*@
                    @*<a href="#" id="btnDelKhoaHoc" data-content="{{TenLop}} - {{TenKhoa}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>*@
                </td>
            </tr>
        </script>

    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/KhoaHoc/_ModalKhoaHocPartialView.cshtml">
    <partial name="~/Areas/Admin/Views/KhoaHoc/_ModalEditKhoaHocPartialView.cshtml">
        <partial name="~/Areas/Admin/Views/KhoaHoc/_ModalShowThoiGianHocPartialView.cshtml">

            <style>
                .table > tbody > tr > td,
                .table > tbody > tr > th,
                .table > tfoot > tr > td,
                .table > tfoot > tr > th,
                .table > thead > tr > td,
                .table > thead > tr > th {
                    padding: 2px;
                   
                }
            </style>