﻿@*@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.NgayNghi>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Bộ môn</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <select class="form-control" name="BoMonId" id="BoMonId">
            <option value="" selected="selected">--Chọn bộ môn--</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.TenBoMon</option>
            }
        </select>
    </div>
</div>*@