﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.GiangVien>
<select class="form-control GiangVienChuaCoTaiKhoanId" name="GiangVienChuaCoTaiKhoanId" id="GiangVienChuaCoTaiKhoanId">
    <option value=0 selected="selected">--Chọn giảng viên--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.HoVaTen</option>
    }
</select>
