﻿<div class="modal fade" id="AddKhachHangModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddKhachHang" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Đối tượng
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="DoiTuong" class="form-control col-md-7 col-xs-12">
                                <option value=1 selected>Người học</option>
                                <option value=2>Phụ huynh</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Tên khách hàng <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" data-required="true" id="txtTenKhachHang" name="TenKhachHang" class="form-control col-md-7 col-xs-12">
                            <input type="hidden" id="txtKhachHangId" name="TenKhachHang" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Số điện thoại
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" id="txtSDTKhachHang" name="SoDienthoai" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Email
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="email" id="txtEmailKhachHang" name="Email" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnAddKhachHang" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>