﻿
@{
    ViewData["Title"] = "AddPhieuThu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- PhieuThuController -->
    <script src="~/App/Controller/KhachHang/PhieuThu.js"></script>

    <script>
        var PhieuThuController = new phieuThuController();
        PhieuThuController.initialize();
    </script>

}

<style>
    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đăng ký học</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-plus-circle"></i> Đăng ký học</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form id="frmPhieuThuHocPhi" class="form-horizontal form-label-right input_mask">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Tên khách hàng</label>
                            @await Component.InvokeAsync("ListKhachHang")
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12"> Tên khóa học</label>
                            @await Component.InvokeAsync("ListKhoaHoc")
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Học phí</label>
                            <input readonly type="text" class="form-control" id="txtHocPhiKhoaHoc">
                            <span class="form-control-feedback right" aria-hidden="true">VNĐ</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12"> Giảm giá (TM)</label>
                            <input type="number" class="form-control" id="txtGiamGiaTienMat">
                            <span class="form-control-feedback right" aria-hidden="true">VNĐ</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Giảm giá (%)</label>
                            <input type="number" class="form-control" id="txtGiamGiaPhanTram">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Tổng học phí</label>
                            <input readonly type="text" class="form-control" id="txtTongHocPhi">
                            <span class="form-control-feedback right" aria-hidden="true">VNĐ</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <a href="#" id="btnFromTongHocPhiToThanhToan" class="btn  btn-xs btn-primary btn-grant"><i class="fa fa-toggle-down"></i></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12"> Thanh toán</label>
                            <input type="number" class="form-control" name="ThanhToan" id="txtThanhToan" required="">
                            <span class="form-control-feedback right" aria-hidden="true">VNĐ</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Còn lại</label>
                            <input readonly type="text" class="form-control" id="txtTienConLai">
                            <span class="form-control-feedback right" aria-hidden="true">VNĐ</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Hạn đóng</label>
                            <input type="date" class="form-control" id="HanDongTienHocPhi">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"> Ghi chú</label>
                            <textarea id="GhiChuDongHocPhi" class="form-control"></textarea>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback text-center">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-plus-circle"></i> Các khoản thu khác</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <form class="form-horizontal form-label-right input_mask">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Nội dung</label>
                                <input type="text" class="form-control" id="txtNoiDungPhieuThu">
                            </div>
                            @*<div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đơn vị tính</label>
                                    <input type="text" class="form-control" id="txtDonViTinhPhieuThu">
                                </div>*@
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Đơn giá</label>
                                <input type="text" class="form-control" id="txtDonGiaPhieuThu">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Số lượng</label>
                                <input type="number" value="1" class="form-control" id="txtSoLuongPhieuThu">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                                <button id="btnAddChiTietPhieuThu" class="btn btn-danger">Thêm</button>
                            </div>
                        </form>

                    </div>
                    <div class="x_content">
                        <table class="table table-striped table-bordered" id="tblChiTietPhieuThu">
                            <thead>
                                <tr>
                                    <th width="20%">Nội dung</th>
                                    @*<th width="10%">Đơn vị tính</th>*@
                                    <th width="30%">Đơn giá</th>
                                    <th width="5%">Số lượng</th>
                                    <th width="30%">Thành tiền</th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng các khoản thu khác</label>
                            <input readonly type="text" class="form-control" id="txtTongCacKhoanThuKhac">
                        </div>

                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-plus-circle"></i> Tổng tiền phải đóng</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="color:red;">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tổng học phí + tổng các khoản thu khác</label>
                        <input type="text" class="form-control" id="txtTongTienPhaiDong">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <button id="TaoPhieuThu" class="btn btn-success"><i class="fa fa-check"></i>Tạo phiếu thu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

