﻿@{
    ViewData["Title"] = "DangKyMoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- AddKhachHangController -->
    <script src="~/App/Controller/KhachHang/AddKhachHang.js"></script>

    <script>
        var AddKhachHangController = new addKhachHangController();
        AddKhachHangController.initialize();
    </script>

}
<style>
    .form-horizontal .control-label {
        text-align: left;
    }

    ul {
        list-style-type: none;
    }
</style>
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đăng ký học viên mới</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"> <h2><i class="fa fa-plus-circle"></i> Đăng ký học viên mới</h2></li>
                    </ul>
                    @{
                        var HocVienId = 0;
                    }
                    @if (HocVienId != 0)
                    {
                        <ul class="navbar-nav mr-auto" style="float:right;">
                            <li class="nav-item"><button type="button" id="btnDKHoc" class="btn btn-danger"><i class="fa fa-check"></i>Đăng ký học</button></li>
                        </ul>
                    }


                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="frmDangKyKhachHangMoi" class="form-horizontal form-label-right input_mask">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Tên học viên *</label>
                            <input type="text" class="form-control" id="txtTenKhachHangMoi">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Số điện thoại *</label>
                            <input type="text" class="form-control" id="txtSDTKhachHangMoi">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left">Email *</label>
                            <input type="text" class="form-control" id="txtEmailKhachHangMoi">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12"><i class="fa fa-facebook"></i> Facebook</label>
                            <input type="text" class="form-control" id="txtFacebookKhachHangMoi">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12 text-lg-left"><i class="fa fa-calendar"></i> Ngày sinh</label>
                            <input type="date" class="form-control" id="txtNgaySinhKhachHangMoi">
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">
                            <div class="ln_solid"></div>
                            <button type="button" id="btnAddKhachHangMoi" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
