﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/App/Controller/KhachHang/Index.js"></script>
    <script>
        var KhachHangController = new khachHangController();
        KhachHangController.initialize();
    </script>
}
<div class="">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý học viên</li>
            </ol>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách học viên</h2>
                    <div class="clearfix"></div>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li>
                        <button type="button" id="btnCallModalAddKhachHang" class="btn btn-primary" data-toggle="modal">
                            <i class="fa fa-plus"></i> Thêm học viên
                        </button>
                    </li>
                </ul>
                @*<ul class="navbar-nav ml-auto" style="float:right;">
                    <li>
                        <button type="button" id="btnCallModalAddKhachHang" class="btn btn-success" data-toggle="modal">
                            <i class="fa fa-credit-card"></i> In thẻ học viên
                        </button>
                    </li>
                </ul>*@
                <div class="x_content">

                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="10%">Số thứ tự</th>
                                <th>Tên khách hàng</th>
                                <th>SĐT</th>
                                <th>Email</th>
                                <th width="20%">Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content-KhachHang"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script id="table-template-KhachHang" type="x-tmpl-mustache">
            <tr>
                <td>{{STT}}</td>
                <td>{{TenKhachHang}}</td>
                <td>{{SDT}}</td>
                <td>{{Email}}</td>
                <td>
                    <a href="#" data-id="{{Id}}" class="btn  btn-xs btn-primary btn-grant"><i class="fa fa-eye-slash"></i></a>
                    <a href="#" id="btnEditKhachHang" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" id="btnDelKhachHang" data-content="{{TenKhachHang}}" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                </td>

            </tr>
        </script>
    </div>
</div>
<!-- Modal add -->
<partial name="~/Areas/Admin/Views/KhachHang/_ModalKhachHangPartialView.cshtml">
