﻿@model IEnumerable<RCCD_WebApp.Areas.Admin.Models.Ca>
<select class="form-control" name="CaId" id="CaId">
    <option value=0 selected="selected">--Chọn ca--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.TenCa</option>
    }
</select>
